Repository dhyansraj/mcp-mesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

validate-openapi-spec:
  name: Validate OpenAPI Specification
  entry: python3 tools/validation/validate_schema.py api/mcp-mesh-registry.openapi.yaml
  language: system
  description: ' Validates OpenAPI specification syntax and schema'

detect-unauthorized-endpoints:
  name: Detect Unauthorized Endpoints
  entry: bash
  args:
  - -c
  - python3 tools/detection/detect_endpoints.py api/mcp-mesh-registry.openapi.yaml api/mcp-mesh-agent.openapi.yaml src/core/registry
  language: system
  description: ' Ensures all endpoints exist in OpenAPI specification'

check-generated-code:
  name: Check Generated Code Up to Date
  entry: bash
  args:
  - -c
  ...

prevent-generated-code-modification:
  name: Prevent Generated Code Modification
  entry: bash
  args:
  - -c
  ...

validate-go-contract:
  name: Validate Go Contract Compliance
  entry: bash
  args:
  - -c
  ...

Release v0.8.0-beta.7 (#439)
  .github/workflows/helm-release.yml
  .github/workflows/release.yml
  Makefile
  RELEASE_NOTES.md
  docs/00-why-mcp-mesh/index.md
  docs/04-kubernetes-basics.md
  docs/07-observability.md
  docs/deployment.md
  docs/index.md
  docs/python/getting-started/prerequisites.md
  docs/typescript/getting-started/prerequisites.md
  examples/docker-examples/agents/claude-provider/helm-values.yaml
  examples/docker-examples/agents/openai-provider/helm-values.yaml
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-registry/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  npm/cli/package.json
  packaging/homebrew/mcp-mesh.rb
  packaging/scoop/mcp-mesh.json
  src/core/cli/man/content/deployment.md
  src/core/cli/man/content/deployment_typescript.md
  src/core/cli/man/content/observability.md
  src/core/cli/man/content/prerequisites.md
  src/runtime/core/Cargo.toml
  src/runtime/core/typescript/package.json
  src/runtime/typescript/package.json
Due: none

Deployed c25fbac with MkDocs version: 1.6.1
  00-why-mcp-mesh/index.html
  04-kubernetes-basics/index.html
  07-observability/index.html
  deployment/index.html
  index.html
  python/getting-started/prerequisites/index.html
  search/search_index.json
  typescript/getting-started/prerequisites/index.html
Due: none

chore(release): Bump version to v0.8.0-beta.8
  .github/workflows/helm-release.yml
  .github/workflows/release.yml
  Makefile
  RELEASE_NOTES.md
  docs/00-why-mcp-mesh/index.md
  docs/04-kubernetes-basics.md
  docs/07-observability.md
  docs/deployment.md
  docs/index.md
  docs/python/getting-started/prerequisites.md
  docs/typescript/getting-started/prerequisites.md
  examples/docker-examples/agents/claude-provider/helm-values.yaml
  examples/docker-examples/agents/openai-provider/helm-values.yaml
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-registry/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  npm/cli/package.json
  packaging/homebrew/mcp-mesh.rb
  packaging/pypi/pyproject.toml
  packaging/scoop/mcp-mesh.json
  src/core/cli/man/content/deployment.md
  src/core/cli/man/content/deployment_typescript.md
  src/core/cli/man/content/observability.md
  src/core/cli/man/content/prerequisites.md
  src/runtime/core/Cargo.toml
  src/runtime/core/pyproject.toml
  src/runtime/core/typescript/package.json
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/pyproject.toml
  src/runtime/typescript/package.json
Due: none

Release v0.8.0-beta.8 (#441)
  .github/workflows/helm-release.yml
  .github/workflows/release.yml
  Makefile
  RELEASE_NOTES.md
  docs/00-why-mcp-mesh/index.md
  docs/04-kubernetes-basics.md
  docs/07-observability.md
  docs/deployment.md
  docs/index.md
  docs/python/getting-started/prerequisites.md
  docs/typescript/getting-started/prerequisites.md
  examples/docker-examples/agents/claude-provider/helm-values.yaml
  examples/docker-examples/agents/openai-provider/helm-values.yaml
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-registry/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  npm/cli/package.json
  packaging/homebrew/mcp-mesh.rb
  packaging/pypi/pyproject.toml
  packaging/scoop/mcp-mesh.json
  src/core/cli/man/content/deployment.md
  src/core/cli/man/content/deployment_typescript.md
  src/core/cli/man/content/observability.md
  src/core/cli/man/content/prerequisites.md
  src/runtime/core/Cargo.toml
  src/runtime/core/pyproject.toml
  src/runtime/core/typescript/package.json
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/pyproject.toml
  src/runtime/typescript/package.json
Due: none

Deployed 44ede3d with MkDocs version: 1.6.1
  00-why-mcp-mesh/index.html
  04-kubernetes-basics/index.html
  07-observability/index.html
  deployment/index.html
  index.html
  python/getting-started/prerequisites/index.html
  search/search_index.json
  typescript/getting-started/prerequisites/index.html
Due: none

fix(test): remove package-lock.json from artifacts, update to v0.8.0-beta.8
  mcp-mesh-lib-test-suites/config.yaml
  mcp-mesh-test-suites/.gitignore
  mcp-mesh-test-suites/config.yaml
  mcp-mesh-test-suites/suites/uc03_capabilities/artifacts/ts-accurate-provider/package-lock.json
  mcp-mesh-test-suites/suites/uc03_capabilities/artifacts/ts-fast-provider/package-lock.json
  mcp-mesh-test-suites/suites/uc03_capabilities/artifacts/ts-tag-consumer/package-lock.json
Due: none

docs(test): specify Python 3.11 requirement for lib-test-suites
  mcp-mesh-lib-test-suites/README.md
Due: none

fix(test): fix TypeScript tests pre_run and tc10 stop/restart cycle
  mcp-mesh-test-suites/suites/uc03_capabilities/tc06_ts_tag_matching_required/test.yaml
  mcp-mesh-test-suites/suites/uc03_capabilities/tc07_ts_tag_matching_preferred/test.yaml
  mcp-mesh-test-suites/suites/uc03_capabilities/tc08_ts_tag_matching_excluded/test.yaml
  mcp-mesh-test-suites/suites/uc03_capabilities/tc09_ts_multiple_implementations/test.yaml
  mcp-mesh-test-suites/suites/uc03_capabilities/tc10_ts_capability_selector_or/test.yaml
Due: none

fix(cli): Run pre-flight checks before forking to background (#444)
  src/core/cli/start.go
Due: none

fix(cli,registry): Fix shutdown race condition - agents before registry (#442)
  src/core/cli/start.go
  src/core/registry/ent_service.go
Due: detect-unauthorized-endpoints, validate-go-contract

feat(registry): Add startup cleanup for stale agents (#443)
  src/core/registry/ent_service.go
  src/core/registry/server.go
  src/core/registry/types_clean.go
Due: detect-unauthorized-endpoints, validate-go-contract

refactor(registry): Add isDatabaseLockError helper and retry logic
  src/core/registry/ent_service.go
Due: detect-unauthorized-endpoints, validate-go-contract

docs(registry): Fix misleading comment in CleanupStaleAgentsOnStartup
  src/core/registry/ent_service.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix(registry): Optimistic locking and true exponential backoff
  src/core/registry/ent_service.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix: Pre-flight checks, shutdown order, and startup cleanup (#442, #443, #444) (#445)
  src/core/cli/start.go
  src/core/registry/ent_service.go
  src/core/registry/server.go
  src/core/registry/types_clean.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix(ts-sdk): Resolve file:// template paths relative to package.json (#449)
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/index.ts
  src/runtime/typescript/src/template.ts
Due: none

fix(py-sdk): Fix race condition where provider_proxy wiped by tools update (#448)
  src/runtime/python/_mcp_mesh/engine/mesh_llm_agent_injector.py
Due: none

fix(scaffold): Remove redundant deps and update SDK version (#446, #450)
  cmd/meshctl/templates/typescript/basic/package.json.tmpl
  cmd/meshctl/templates/typescript/llm-agent/package.json.tmpl
  cmd/meshctl/templates/typescript/llm-provider/package.json.tmpl
  src/runtime/typescript/src/template.ts
Due: none

fix: SDK race condition, template path resolution, and scaffold cleanup (#446, #448, #449, #450) (#451)
  cmd/meshctl/templates/typescript/basic/package.json.tmpl
  cmd/meshctl/templates/typescript/llm-agent/package.json.tmpl
  cmd/meshctl/templates/typescript/llm-provider/package.json.tmpl
  src/runtime/python/_mcp_mesh/engine/mesh_llm_agent_injector.py
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/index.ts
  src/runtime/typescript/src/template.ts
Due: none

refactor(py-sdk): Remove legacy runtime control environment variables (#389)
  src/core/cli/man/content/environment.md
  src/runtime/python/README.md
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/_mcp_mesh/engine/decorator_registry.py
  src/runtime/python/_mcp_mesh/pipeline/api_startup/api_server_setup.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_startup/fastapiserver_setup.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_startup/startup_orchestrator.py
  src/runtime/python/mesh/decorators.py
  src/runtime/python/tests/conftest.py
  src/runtime/python/tests/unit/test_01_decorator_detection_validation.py
  src/runtime/python/tests/unit/test_07_fastapi_server_setup.py
Due: none

fix(scaffold): Update Gemini default to 2.5-pro for parity (#447)
  src/core/cli/scaffold/interactive.go
Due: none

feat(cli): Add AGE column and rename SINCE to LAST SEEN (#452)
  api/mcp-mesh-registry.openapi.yaml
  src/core/cli/list.go
  src/core/registry/ent_service.go
  src/core/registry/generated/server.go
  src/runtime/python/tests/unit/test_07_fastapi_server_setup.py
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

Revert "refactor(py-sdk): Remove legacy runtime control environment variables (#389)"
  src/core/cli/man/content/environment.md
  src/runtime/python/README.md
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/_mcp_mesh/engine/decorator_registry.py
  src/runtime/python/_mcp_mesh/pipeline/api_startup/api_server_setup.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_startup/fastapiserver_setup.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_startup/startup_orchestrator.py
  src/runtime/python/mesh/decorators.py
  src/runtime/python/tests/conftest.py
  src/runtime/python/tests/unit/test_01_decorator_detection_validation.py
  src/runtime/python/tests/unit/test_07_fastapi_server_setup.py
Due: none

fix(cli): Gemini model update and AGE/LAST SEEN columns (#447, #452) (#453)
  api/mcp-mesh-registry.openapi.yaml
  src/core/cli/list.go
  src/core/cli/scaffold/interactive.go
  src/core/registry/ent_service.go
  src/core/registry/generated/server.go
  src/runtime/python/tests/unit/test_07_fastapi_server_setup.py
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

Release v0.8.0-beta.9
  .github/workflows/helm-release.yml
  .github/workflows/release.yml
  Makefile
  RELEASE_NOTES.md
  cmd/meshctl/templates/typescript/basic/package.json.tmpl
  cmd/meshctl/templates/typescript/llm-agent/package.json.tmpl
  cmd/meshctl/templates/typescript/llm-provider/package.json.tmpl
  docs/00-why-mcp-mesh/index.md
  docs/04-kubernetes-basics.md
  docs/07-observability.md
  docs/deployment.md
  docs/index.md
  docs/python/getting-started/prerequisites.md
  docs/typescript/getting-started/prerequisites.md
  examples/docker-examples/agents/claude-provider/helm-values.yaml
  examples/docker-examples/agents/openai-provider/helm-values.yaml
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-registry/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  npm/cli/package.json
  packaging/homebrew/mcp-mesh.rb
  packaging/pypi/pyproject.toml
  packaging/scoop/mcp-mesh.json
  src/core/cli/man/content/deployment.md
  src/core/cli/man/content/deployment_typescript.md
  src/core/cli/man/content/observability.md
  src/core/cli/man/content/prerequisites.md
  src/runtime/core/Cargo.toml
  src/runtime/core/pyproject.toml
  src/runtime/core/typescript/package.json
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/pyproject.toml
  src/runtime/typescript/package.json
Due: none

Release v0.8.0-beta.9 (#455)
  .github/workflows/helm-release.yml
  .github/workflows/release.yml
  Makefile
  RELEASE_NOTES.md
  cmd/meshctl/templates/typescript/basic/package.json.tmpl
  cmd/meshctl/templates/typescript/llm-agent/package.json.tmpl
  cmd/meshctl/templates/typescript/llm-provider/package.json.tmpl
  docs/00-why-mcp-mesh/index.md
  docs/04-kubernetes-basics.md
  docs/07-observability.md
  docs/deployment.md
  docs/index.md
  docs/python/getting-started/prerequisites.md
  docs/typescript/getting-started/prerequisites.md
  examples/docker-examples/agents/claude-provider/helm-values.yaml
  examples/docker-examples/agents/openai-provider/helm-values.yaml
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-registry/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  npm/cli/package.json
  packaging/homebrew/mcp-mesh.rb
  packaging/pypi/pyproject.toml
  packaging/scoop/mcp-mesh.json
  src/core/cli/man/content/deployment.md
  src/core/cli/man/content/deployment_typescript.md
  src/core/cli/man/content/observability.md
  src/core/cli/man/content/prerequisites.md
  src/runtime/core/Cargo.toml
  src/runtime/core/pyproject.toml
  src/runtime/core/typescript/package.json
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/pyproject.toml
  src/runtime/typescript/package.json
Due: none

Deployed fc223d3 with MkDocs version: 1.6.1
  00-why-mcp-mesh/index.html
  04-kubernetes-basics/index.html
  07-observability/index.html
  deployment/index.html
  index.html
  python/getting-started/prerequisites/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  typescript/getting-started/prerequisites/index.html
Due: none

fix(sdk): OpenAI/Gemini structured output returns values instead of schema (#459, #461)
  src/runtime/python/_mcp_mesh/engine/mesh_llm_agent.py
  src/runtime/python/mesh/helpers.py
  src/runtime/typescript/src/llm-agent.ts
  src/runtime/typescript/src/llm-provider.ts
Due: none

refactor(ts-sdk): Optimize outputSchema and clean up llm-provider
  src/runtime/typescript/src/llm-agent.ts
  src/runtime/typescript/src/llm-provider.ts
Due: none

fix(py-sdk): Add default system_prompt and warnings for @mesh.llm (#458)
  src/runtime/python/_mcp_mesh/engine/mesh_llm_agent.py
  src/runtime/python/mesh/decorators.py
Due: none

fix(py-sdk): Allow @mesh.llm without filter for simple LLM calls (#458)
  src/runtime/python/_mcp_mesh/engine/mesh_llm_agent_injector.py
Due: none

fix(ts-sdk): Use prompt-based JSON for Claude instead of generateObject()
  src/runtime/typescript/src/llm-provider.ts
  src/runtime/typescript/src/provider-handlers/claude-handler.ts
Due: none

test: Update unit tests for Claude always-hint-mode behavior
  src/runtime/python/tests/unit/test_mesh_llm_decorator.py
  src/runtime/typescript/src/__tests__/claude-handler.test.ts
Due: none

fix: Address CodeRabbit review feedback
  src/runtime/python/mesh/helpers.py
  src/runtime/typescript/src/llm-provider.ts
  src/runtime/typescript/src/provider-handlers/index.ts
Due: none

fix(sdk): Structured output fixes for TS and Python SDKs (#462)
  src/runtime/python/_mcp_mesh/engine/mesh_llm_agent.py
  src/runtime/python/_mcp_mesh/engine/mesh_llm_agent_injector.py
  src/runtime/python/mesh/decorators.py
  src/runtime/python/mesh/helpers.py
  src/runtime/python/tests/unit/test_mesh_llm_decorator.py
  src/runtime/typescript/src/__tests__/claude-handler.test.ts
  src/runtime/typescript/src/llm-agent.ts
  src/runtime/typescript/src/llm-provider.ts
  src/runtime/typescript/src/provider-handlers/claude-handler.ts
  src/runtime/typescript/src/provider-handlers/index.ts
Due: none

fix(cli): meshctl status resolves to healthy agent when only one is healthy (#460)
  src/core/cli/status.go
Due: none

fix(cli): meshctl status resolves to healthy agent when only one is healthy (#463)
  src/core/cli/status.go
Due: none

fix(py-sdk): Auto-assigned port detection filters by PID on macOS (#457)
  src/runtime/python/mesh/decorators.py
Due: none

fix(py-sdk): Auto-assigned port detection filters by PID on macOS (#465)
  src/runtime/python/mesh/decorators.py
Due: none

fix(sdk): Align parameter names between TypeScript and Python SDKs (#464)
  src/core/cli/man/content/decorators_typescript.md
  src/core/cli/man/content/dependency-injection_typescript.md
  src/core/cli/man/content/deployment.md
  src/core/cli/man/content/express.md
  src/core/cli/man/content/health_typescript.md
  src/core/cli/man/content/llm_typescript.md
  src/core/cli/man/content/proxies_typescript.md
  src/core/cli/man/content/quickstart_typescript.md
  src/core/cli/man/content/tags_typescript.md
  src/core/cli/man/content/testing_typescript.md
  src/core/cli/scaffold/compose.go
  src/core/registry/validation.go
  src/runtime/python/mesh/decorators.py
  src/runtime/python/tests/unit/test_01_decorator_detection_validation.py
  src/runtime/python/tests/unit/test_03_configuration.py
  src/runtime/python/tests/unit/test_04_heartbeat_preparation.py
  src/runtime/python/tests/unit/test_06_heartbeat_loop.py
  src/runtime/typescript/src/__tests__/config.test.ts
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/api-runtime.ts
  src/runtime/typescript/src/config.ts
  src/runtime/typescript/src/express.ts
  src/runtime/typescript/src/index.ts
  src/runtime/typescript/src/llm-provider.ts
  src/runtime/typescript/src/llm.ts
  src/runtime/typescript/src/types.ts
Due: detect-unauthorized-endpoints, validate-go-contract

Path conditions:
  validate-openapi-spec: any of: ^api/.*\.yaml$
  detect-unauthorized-endpoints: any of: ^(src/core/registry/.*\.(go|py)|api/.*\.yaml)$
  check-generated-code: any of: ^api/.*\.yaml$
  prevent-generated-code-modification: any of: ^src/core/registry/generated/.*$
  validate-go-contract: any of: ^src/core/registry/.*\.go$, but not: ^src/core/registry/generated/.*$
