Repository dhyansraj/mcp-mesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

validate-openapi-spec:
  name: Validate OpenAPI Specification
  entry: python3 tools/validation/validate_schema.py api/mcp-mesh-registry.openapi.yaml
  language: system
  description: ' Validates OpenAPI specification syntax and schema'

detect-unauthorized-endpoints:
  name: Detect Unauthorized Endpoints
  entry: bash
  args:
  - -c
  - python3 tools/detection/detect_endpoints.py api/mcp-mesh-registry.openapi.yaml api/mcp-mesh-agent.openapi.yaml src/core/registry
  language: system
  description: ' Ensures all endpoints exist in OpenAPI specification'

check-generated-code:
  name: Check Generated Code Up to Date
  entry: bash
  args:
  - -c
  ...

prevent-generated-code-modification:
  name: Prevent Generated Code Modification
  entry: bash
  args:
  - -c
  ...

validate-go-contract:
  name: Validate Go Contract Compliance
  entry: bash
  args:
  - -c
  ...

fix(meshjob): address re-review WARNINGs — claim gating, MeshJob errors, shutdown
  src/core/registry/ent_handlers.go
  src/core/registry/ent_handlers_jobs.go
  src/core/registry/ent_handlers_jobs_extended_test.go
  src/core/registry/server.go
  src/runtime/python/_mcp_mesh/engine/claim_dispatcher.py
  src/runtime/python/_mcp_mesh/engine/dependency_injector.py
  src/runtime/python/_mcp_mesh/engine/signature_analyzer.py
  src/runtime/python/mesh/decorators.py
  src/runtime/python/tests/unit/test_meshjob_dispatch.py
  src/runtime/python/tests/unit/test_resolver_meshjob.py
Due: detect-unauthorized-endpoints, validate-go-contract

fix: regenerate Go code + correct check-generated-code diff target
  .pre-commit-config.yaml
  go.sum
  src/core/registry/generated/server.go
Due: detect-unauthorized-endpoints, prevent-generated-code-modification

fix: serialize SQLite test pool to drop concurrent-claim flake
  src/core/registry/audit_resolver_test.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix: env-overridable sweep interval (MCP_MESH_SWEEP_INTERVAL)
  src/core/registry/sweep.go
  src/core/registry/sweep_env_test.go
Due: detect-unauthorized-endpoints, validate-go-contract

feature: integration test suite uc21_meshjob — 16 tests for MeshJob substrate
  tests/integration/suites/uc21_meshjob/artifacts/bystander-x
  tests/integration/suites/uc21_meshjob/artifacts/bystander-y
  tests/integration/suites/uc21_meshjob/artifacts/downstream-sleeper
  tests/integration/suites/uc21_meshjob/artifacts/long-task-consumer
  tests/integration/suites/uc21_meshjob/artifacts/long-task-provider
  tests/integration/suites/uc21_meshjob/artifacts/orchestrator-agent
  tests/integration/suites/uc21_meshjob/fixtures/bystander-x/main.py
  tests/integration/suites/uc21_meshjob/fixtures/bystander-y/main.py
  tests/integration/suites/uc21_meshjob/fixtures/downstream-sleeper/main.py
  tests/integration/suites/uc21_meshjob/fixtures/long-task-consumer/main.py
  tests/integration/suites/uc21_meshjob/fixtures/long-task-provider/main.py
  tests/integration/suites/uc21_meshjob/fixtures/orchestrator-agent/main.py
  tests/integration/suites/uc21_meshjob/routines.yaml
  tests/integration/suites/uc21_meshjob/tc01_submit_wait_happy/test.yaml
  tests/integration/suites/uc21_meshjob/tc02_progress_visible_midflight/test.yaml
  tests/integration/suites/uc21_meshjob/tc03_explicit_complete/test.yaml
  tests/integration/suites/uc21_meshjob/tc04_implicit_complete_on_return/test.yaml
  tests/integration/suites/uc21_meshjob/tc05_explicit_fail_no_retry/test.yaml
  tests/integration/suites/uc21_meshjob/tc06_cancel_alive_owner/test.yaml
  tests/integration/suites/uc21_meshjob/tc07_cancel_orphan_no_owner/test.yaml
  tests/integration/suites/uc21_meshjob/tc08_cancel_already_terminal/test.yaml
  tests/integration/suites/uc21_meshjob/tc09_cancel_aborts_outbound_http/test.yaml
  tests/integration/suites/uc21_meshjob/tc10_crash_recovery_max_retries_1/test.yaml
  tests/integration/suites/uc21_meshjob/tc11_max_retries_0_disables_retry/test.yaml
  tests/integration/suites/uc21_meshjob/tc12_max_retries_exhausted_marks_failed/test.yaml
  tests/integration/suites/uc21_meshjob/tc13_total_deadline_expires/test.yaml
  tests/integration/suites/uc21_meshjob/tc14_helpers_on_every_agent/test.yaml
  tests/integration/suites/uc21_meshjob/tc15_status_for_unknown_id/test.yaml
  tests/integration/suites/uc21_meshjob/tc16_third_party_can_read_status/test.yaml
Due: none

feat: add you.com search provider
  examples/tutorial/trip-planner/final_product/README.md
  examples/tutorial/trip-planner/final_product/poi-agent/main.py
Due: none

fix(uc21_meshjob): address review findings — verification, weak assertions, dead captures
  src/core/registry/sweep.go
  tests/integration/suites/uc21_meshjob/routines.yaml
  tests/integration/suites/uc21_meshjob/tc06_cancel_alive_owner/test.yaml
  tests/integration/suites/uc21_meshjob/tc09_cancel_aborts_outbound_http/test.yaml
  tests/integration/suites/uc21_meshjob/tc14_helpers_on_every_agent/test.yaml
  tests/integration/suites/uc21_meshjob/tc15_status_for_unknown_id/test.yaml
  tests/integration/suites/uc21_meshjob/tc16_third_party_can_read_status/test.yaml
Due: detect-unauthorized-endpoints, validate-go-contract

fix(meshjob): address PR review — sweep validation + test correctness fixes
  src/core/registry/sweep.go
  src/core/registry/sweep_env_test.go
  tests/integration/suites/uc21_meshjob/fixtures/long-task-provider/main.py
  tests/integration/suites/uc21_meshjob/routines.yaml
  tests/integration/suites/uc21_meshjob/tc01_submit_wait_happy/test.yaml
  tests/integration/suites/uc21_meshjob/tc02_progress_visible_midflight/test.yaml
  tests/integration/suites/uc21_meshjob/tc03_explicit_complete/test.yaml
  tests/integration/suites/uc21_meshjob/tc14_helpers_on_every_agent/test.yaml
  tests/integration/suites/uc21_meshjob/tc16_third_party_can_read_status/test.yaml
Due: detect-unauthorized-endpoints, validate-go-contract

fix(registry): protect httptest fake-owner captures with mutex (race fix)
  src/core/registry/ent_handlers_jobs_extended_test.go
Due: detect-unauthorized-endpoints, validate-go-contract

feature: MeshJob Python integration test suite + sweep interval env var (#883)
  src/core/registry/ent_handlers_jobs_extended_test.go
  src/core/registry/sweep.go
  src/core/registry/sweep_env_test.go
  tests/integration/suites/uc21_meshjob/artifacts/bystander-x
  tests/integration/suites/uc21_meshjob/artifacts/bystander-y
  tests/integration/suites/uc21_meshjob/artifacts/downstream-sleeper
  tests/integration/suites/uc21_meshjob/artifacts/long-task-consumer
  tests/integration/suites/uc21_meshjob/artifacts/long-task-provider
  tests/integration/suites/uc21_meshjob/artifacts/orchestrator-agent
  tests/integration/suites/uc21_meshjob/fixtures/bystander-x/main.py
  tests/integration/suites/uc21_meshjob/fixtures/bystander-y/main.py
  tests/integration/suites/uc21_meshjob/fixtures/downstream-sleeper/main.py
  tests/integration/suites/uc21_meshjob/fixtures/long-task-consumer/main.py
  tests/integration/suites/uc21_meshjob/fixtures/long-task-provider/main.py
  tests/integration/suites/uc21_meshjob/fixtures/orchestrator-agent/main.py
  tests/integration/suites/uc21_meshjob/routines.yaml
  tests/integration/suites/uc21_meshjob/tc01_submit_wait_happy/test.yaml
  tests/integration/suites/uc21_meshjob/tc02_progress_visible_midflight/test.yaml
  tests/integration/suites/uc21_meshjob/tc03_explicit_complete/test.yaml
  tests/integration/suites/uc21_meshjob/tc04_implicit_complete_on_return/test.yaml
  tests/integration/suites/uc21_meshjob/tc05_explicit_fail_no_retry/test.yaml
  tests/integration/suites/uc21_meshjob/tc06_cancel_alive_owner/test.yaml
  tests/integration/suites/uc21_meshjob/tc07_cancel_orphan_no_owner/test.yaml
  tests/integration/suites/uc21_meshjob/tc08_cancel_already_terminal/test.yaml
  tests/integration/suites/uc21_meshjob/tc09_cancel_aborts_outbound_http/test.yaml
  tests/integration/suites/uc21_meshjob/tc10_crash_recovery_max_retries_1/test.yaml
  tests/integration/suites/uc21_meshjob/tc11_max_retries_0_disables_retry/test.yaml
  tests/integration/suites/uc21_meshjob/tc12_max_retries_exhausted_marks_failed/test.yaml
  tests/integration/suites/uc21_meshjob/tc13_total_deadline_expires/test.yaml
  tests/integration/suites/uc21_meshjob/tc14_helpers_on_every_agent/test.yaml
  tests/integration/suites/uc21_meshjob/tc15_status_for_unknown_id/test.yaml
  tests/integration/suites/uc21_meshjob/tc16_third_party_can_read_status/test.yaml
Due: detect-unauthorized-endpoints, validate-go-contract

feature: TypeScript MeshJob foundation — napi bindings + decorator + DDDI
  src/runtime/core/src/jobs_napi.rs
  src/runtime/core/src/lib.rs
  src/runtime/typescript/src/__tests__/resolver-meshjob.spec.ts
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/index.ts
  src/runtime/typescript/src/job-context.ts
  src/runtime/typescript/src/resolver-meshjob.ts
  src/runtime/typescript/src/types.ts
Due: none

feature: TypeScript MeshJob integration — inbound + dispatcher + helpers + examples
  examples/jobs-ts/README.md
  examples/jobs-ts/long-task-consumer-ts/index.ts
  examples/jobs-ts/long-task-consumer-ts/package-lock.json
  examples/jobs-ts/long-task-consumer-ts/package.json
  examples/jobs-ts/long-task-provider-ts/index.ts
  examples/jobs-ts/long-task-provider-ts/package-lock.json
  examples/jobs-ts/long-task-provider-ts/package.json
  src/runtime/typescript/src/__tests__/claim-dispatcher.spec.ts
  src/runtime/typescript/src/__tests__/inbound-job-dispatch.spec.ts
  src/runtime/typescript/src/__tests__/mesh-job-submitter.spec.ts
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/claim-dispatcher.ts
  src/runtime/typescript/src/inbound-job-dispatch.ts
  src/runtime/typescript/src/index.ts
  src/runtime/typescript/src/jobs-cancel-route.ts
  src/runtime/typescript/src/jobs-helper-tools.ts
  src/runtime/typescript/src/mesh-job-submitter.ts
  src/runtime/typescript/src/types.ts
Due: none

fix(meshjob-ts): close minor follow-ups — sanitize, trace-headers, keep-alive
  src/runtime/typescript/package.json
  src/runtime/typescript/src/__tests__/claim-dispatcher.spec.ts
  src/runtime/typescript/src/__tests__/inbound-job-dispatch.spec.ts
  src/runtime/typescript/src/claim-dispatcher.ts
  src/runtime/typescript/src/inbound-job-dispatch.ts
Due: none

fix(meshjob-ts): batching tick now spawns lazily on first update_progress
  src/runtime/core/src/jobs_napi.rs
  src/runtime/typescript/src/__tests__/job-controller-progress.spec.ts
Due: none

fix(meshjob-ts): address PR review — validation + dedup + visibility
  src/runtime/typescript/src/__tests__/agent-add-tool.spec.ts
  src/runtime/typescript/src/__tests__/claim-dispatcher.spec.ts
  src/runtime/typescript/src/__tests__/jobs-cancel-route.spec.ts
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/claim-dispatcher.ts
  src/runtime/typescript/src/inbound-job-dispatch.ts
  src/runtime/typescript/src/jobs-cancel-route.ts
Due: none

fix(meshjob-ts): address PR #885 review — undici, validation, fail-fast, backoff
  src/runtime/core/src/jobs_napi.rs
  src/runtime/typescript/package-lock.json
  src/runtime/typescript/package.json
  src/runtime/typescript/src/__tests__/agent-add-tool.spec.ts
  src/runtime/typescript/src/__tests__/claim-dispatcher.spec.ts
  src/runtime/typescript/src/__tests__/job-controller-progress.spec.ts
  src/runtime/typescript/src/__tests__/mesh-job-submitter.spec.ts
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/claim-dispatcher.ts
  src/runtime/typescript/src/mesh-job-submitter.ts
  src/runtime/typescript/src/types.ts
Due: none

feature: MeshJob TypeScript implementation — runtime + napi bindings + examples (#885)
  examples/jobs-ts/README.md
  examples/jobs-ts/long-task-consumer-ts/index.ts
  examples/jobs-ts/long-task-consumer-ts/package-lock.json
  examples/jobs-ts/long-task-consumer-ts/package.json
  examples/jobs-ts/long-task-provider-ts/index.ts
  examples/jobs-ts/long-task-provider-ts/package-lock.json
  examples/jobs-ts/long-task-provider-ts/package.json
  src/runtime/core/src/jobs_napi.rs
  src/runtime/core/src/lib.rs
  src/runtime/typescript/package-lock.json
  src/runtime/typescript/package.json
  src/runtime/typescript/src/__tests__/agent-add-tool.spec.ts
  src/runtime/typescript/src/__tests__/claim-dispatcher.spec.ts
  src/runtime/typescript/src/__tests__/inbound-job-dispatch.spec.ts
  src/runtime/typescript/src/__tests__/job-controller-progress.spec.ts
  src/runtime/typescript/src/__tests__/jobs-cancel-route.spec.ts
  src/runtime/typescript/src/__tests__/mesh-job-submitter.spec.ts
  src/runtime/typescript/src/__tests__/resolver-meshjob.spec.ts
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/claim-dispatcher.ts
  src/runtime/typescript/src/inbound-job-dispatch.ts
  src/runtime/typescript/src/index.ts
  src/runtime/typescript/src/job-context.ts
  src/runtime/typescript/src/jobs-cancel-route.ts
  src/runtime/typescript/src/jobs-helper-tools.ts
  src/runtime/typescript/src/mesh-job-submitter.ts
  src/runtime/typescript/src/resolver-meshjob.ts
  src/runtime/typescript/src/types.ts
Due: none

fix(uc22_meshjob_ts): tighten brittle assertions caught in PR review
  tests/integration/suites/uc22_meshjob_ts/fixtures/downstream-sleeper-ts/src/index.ts
  tests/integration/suites/uc22_meshjob_ts/tc03_explicit_complete_ts/test.yaml
  tests/integration/suites/uc22_meshjob_ts/tc04_implicit_complete_on_return_ts/test.yaml
  tests/integration/suites/uc22_meshjob_ts/tc06_cancel_alive_owner_ts/test.yaml
  tests/integration/suites/uc22_meshjob_ts/tc09_cancel_aborts_outbound_http_ts/test.yaml
  tests/integration/suites/uc22_meshjob_ts/tc20_polyglot_cross_runtime_cancel/test.yaml
Due: none

fix(uc22_meshjob_ts): address PR #888 review — fixture validation + assertion tightening
  tests/integration/suites/uc22_meshjob_ts/fixtures/bystander-x-ts/src/index.ts
  tests/integration/suites/uc22_meshjob_ts/fixtures/bystander-y-ts/src/index.ts
  tests/integration/suites/uc22_meshjob_ts/fixtures/downstream-sleeper-ts/src/index.ts
  tests/integration/suites/uc22_meshjob_ts/fixtures/long-task-consumer-ts/src/index.ts
  tests/integration/suites/uc22_meshjob_ts/tc06_cancel_alive_owner_ts/test.yaml
  tests/integration/suites/uc22_meshjob_ts/tc09_cancel_aborts_outbound_http_ts/test.yaml
  tests/integration/suites/uc22_meshjob_ts/tc10_crash_recovery_max_retries_1_ts/test.yaml
  tests/integration/suites/uc22_meshjob_ts/tc11_max_retries_0_disables_retry_ts/test.yaml
  tests/integration/suites/uc22_meshjob_ts/tc12_max_retries_exhausted_marks_failed_ts/test.yaml
  tests/integration/suites/uc22_meshjob_ts/tc13_total_deadline_expires_ts/test.yaml
  tests/integration/suites/uc22_meshjob_ts/tc14_helpers_on_every_agent_ts/test.yaml
  tests/integration/suites/uc22_meshjob_ts/tc15_status_for_unknown_id_ts/test.yaml
  tests/integration/suites/uc22_meshjob_ts/tc20_polyglot_cross_runtime_cancel/test.yaml
Due: none

feature: Java MeshJob foundation — C-ABI bindings + JNR-FFI bridge + DDDI
  src/runtime/core/include/mcp_mesh_core.h
  src/runtime/core/src/ffi.rs
  src/runtime/core/src/jobs_ffi.rs
  src/runtime/core/src/lib.rs
  src/runtime/java/mcp-mesh-core/src/main/java/io/mcpmesh/core/MeshCore.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/JobContext.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/JobController.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/JobProxy.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/MeshJob.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/MeshJobSubmitter.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/MeshTool.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshJobResolver.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/MeshJobResolverTest.java
Due: none

feature: Java MeshJob integration — inbound + dispatcher + helpers + examples
  examples/jobs-java/README.md
  examples/jobs-java/long-task-consumer-java/pom.xml
  examples/jobs-java/long-task-consumer-java/src/main/java/com/example/longtaskconsumer/LongTaskConsumerApplication.java
  examples/jobs-java/long-task-consumer-java/src/main/resources/application.properties
  examples/jobs-java/long-task-provider-java/pom.xml
  examples/jobs-java/long-task-provider-java/src/main/java/com/example/longtaskprovider/LongTaskProviderApplication.java
  examples/jobs-java/long-task-provider-java/src/main/resources/application.properties
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/ClaimDispatcher.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/JobCancelController.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/JobsHelperToolHandler.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/JobsHelperToolsRegistrar.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/JobsRuntimeManager.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshAutoConfiguration.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshToolBeanPostProcessor.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshToolRegistry.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshToolWrapper.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/tracing/TraceContext.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/ClaimDispatcherTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/JobCancelControllerTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/JobsHelperToolHandlerTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/JobsHelperToolsRegistrarTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/MeshToolRegistryTaskTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/MeshToolWrapperJobTest.java
Due: none

fix(meshjob-java): address PR review — validation + dead code + leak
  src/runtime/core/src/jobs_ffi.rs
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/JobController.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/JobProxy.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/ClaimDispatcher.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/JobsHelperToolsRegistrar.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshToolRegistry.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshToolWrapper.java
Due: none

fix(meshjob-java): address PR #891 review — concurrency + dispatch + overflow
  examples/jobs-java/long-task-consumer-java/pom.xml
  examples/jobs-java/long-task-provider-java/pom.xml
  src/runtime/core/src/jobs_ffi.rs
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/JobController.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/JobProxy.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/MeshJobSubmitter.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/ClaimDispatcher.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/JobsHelperToolHandler.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/JobsRuntimeManager.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshAutoConfiguration.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshToolRegistry.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshToolWrapper.java
Due: none

feature: Java MeshJob implementation — runtime + C-ABI bindings + examples (#891)
  examples/jobs-java/README.md
  examples/jobs-java/long-task-consumer-java/pom.xml
  examples/jobs-java/long-task-consumer-java/src/main/java/com/example/longtaskconsumer/LongTaskConsumerApplication.java
  examples/jobs-java/long-task-consumer-java/src/main/resources/application.properties
  examples/jobs-java/long-task-provider-java/pom.xml
  examples/jobs-java/long-task-provider-java/src/main/java/com/example/longtaskprovider/LongTaskProviderApplication.java
  examples/jobs-java/long-task-provider-java/src/main/resources/application.properties
  src/runtime/core/include/mcp_mesh_core.h
  src/runtime/core/src/ffi.rs
  src/runtime/core/src/jobs_ffi.rs
  src/runtime/core/src/lib.rs
  src/runtime/java/mcp-mesh-core/src/main/java/io/mcpmesh/core/MeshCore.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/JobContext.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/JobController.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/JobProxy.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/MeshJob.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/MeshJobSubmitter.java
  src/runtime/java/mcp-mesh-sdk/src/main/java/io/mcpmesh/MeshTool.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/ClaimDispatcher.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/JobCancelController.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/JobsHelperToolHandler.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/JobsHelperToolsRegistrar.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/JobsRuntimeManager.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshAutoConfiguration.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshJobResolver.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshToolBeanPostProcessor.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshToolRegistry.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshToolWrapper.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/tracing/TraceContext.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/ClaimDispatcherTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/JobCancelControllerTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/JobsHelperToolHandlerTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/JobsHelperToolsRegistrarTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/MeshJobResolverTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/MeshToolRegistryTaskTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/MeshToolWrapperJobTest.java
Due: none

fix(uc23_meshjob_java): address PR review — assertion tightening + Jackson parse
  tests/integration/suites/uc23_meshjob_java/fixtures/long-task-provider-java/src/main/java/com/example/longtaskprovider/LongTaskProviderApplication.java
  tests/integration/suites/uc23_meshjob_java/tc01_submit_wait_happy_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc02_progress_visible_midflight_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc03_explicit_complete_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc04_implicit_complete_on_return_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc05_explicit_fail_no_retry_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc06_cancel_alive_owner_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc08_cancel_already_terminal_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc09_cancel_aborts_outbound_http_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc10_crash_recovery_max_retries_1_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc11_max_retries_0_disables_retry_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc12_max_retries_exhausted_marks_failed_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc13_total_deadline_expires_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc14_helpers_on_every_agent_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc16_third_party_can_read_status_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc17_polyglot_java_consumer_python_provider/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc18_polyglot_java_consumer_ts_provider/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc21_polyglot_3way_status_read/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc22_polyglot_3way_cancel_documents_889/test.yaml
Due: none

fix(uc23_meshjob_java): address PR #892 review — small correctness fixes
  tests/integration/suites/uc23_meshjob_java/fixtures/downstream-sleeper-java/src/main/java/com/example/downstreamsleeper/DownstreamSleeperApplication.java
  tests/integration/suites/uc23_meshjob_java/fixtures/long-task-provider-java/src/main/java/com/example/longtaskprovider/LongTaskProviderApplication.java
  tests/integration/suites/uc23_meshjob_java/tc05_explicit_fail_no_retry_java/test.yaml
  tests/integration/suites/uc23_meshjob_java/tc18_polyglot_java_consumer_ts_provider/test.yaml
Due: none

fix(meshjob): flush_terminal preserves last progress_message + Python shutdown drain
  src/runtime/core/src/jobs.rs
  src/runtime/python/_mcp_mesh/pipeline/api_heartbeat/rust_api_heartbeat.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_heartbeat/rust_heartbeat.py
  src/runtime/python/_mcp_mesh/shared/simple_shutdown.py
Due: none

fix(meshjob): preserve numeric progress on fail + retry-friendly unregister
  src/runtime/core/src/jobs.rs
  src/runtime/python/_mcp_mesh/pipeline/api_heartbeat/rust_api_heartbeat.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_heartbeat/rust_heartbeat.py
Due: none

fix(meshjob): flush_terminal progress_message + Python shutdown drain (#893)
  src/runtime/core/src/jobs.rs
  src/runtime/python/_mcp_mesh/pipeline/api_heartbeat/rust_api_heartbeat.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_heartbeat/rust_heartbeat.py
  src/runtime/python/_mcp_mesh/shared/simple_shutdown.py
Due: none

feat(meshjob): retry_on per-tool exception whitelist (Python) + registry release endpoint
  api/mcp-mesh-registry.openapi.yaml
  src/core/registry/ent_handlers_jobs.go
  src/core/registry/ent_handlers_jobs_extended_test.go
  src/core/registry/ent_handlers_test.go
  src/core/registry/ent_service_jobs.go
  src/core/registry/generated/server.go
  src/runtime/core/src/claim_worker.rs
  src/runtime/core/src/jobs.rs
  src/runtime/core/src/jobs_py.rs
  src/runtime/core/src/task_backend.rs
  src/runtime/python/_mcp_mesh/engine/job_dispatch.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_heartbeat/rust_heartbeat.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_startup/heartbeat_preparation.py
  src/runtime/python/mesh/decorators.py
  src/runtime/python/tests/unit/test_meshjob_dispatch.py
  tests/integration/suites/uc21_meshjob/fixtures/long-task-consumer/main.py
  tests/integration/suites/uc21_meshjob/fixtures/long-task-provider/main.py
  tests/integration/suites/uc21_meshjob/tc23_retry_on_raise/test.yaml
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

fix(meshjob): tighten retry_on validation + small review nits
  src/core/registry/ent_handlers_jobs.go
  src/runtime/core/src/task_backend.rs
  src/runtime/python/_mcp_mesh/engine/job_dispatch.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_heartbeat/rust_heartbeat.py
  src/runtime/python/mesh/decorators.py
Due: detect-unauthorized-endpoints, validate-go-contract

feat(meshjob): retry_on per-tool exception whitelist (Python) + registry release (#896)
  api/mcp-mesh-registry.openapi.yaml
  src/core/registry/ent_handlers_jobs.go
  src/core/registry/ent_handlers_jobs_extended_test.go
  src/core/registry/ent_handlers_test.go
  src/core/registry/ent_service_jobs.go
  src/core/registry/generated/server.go
  src/runtime/core/src/claim_worker.rs
  src/runtime/core/src/jobs.rs
  src/runtime/core/src/jobs_py.rs
  src/runtime/core/src/task_backend.rs
  src/runtime/python/_mcp_mesh/engine/job_dispatch.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_heartbeat/rust_heartbeat.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_startup/heartbeat_preparation.py
  src/runtime/python/mesh/decorators.py
  src/runtime/python/tests/unit/test_meshjob_dispatch.py
  tests/integration/suites/uc21_meshjob/fixtures/long-task-consumer/main.py
  tests/integration/suites/uc21_meshjob/fixtures/long-task-provider/main.py
  tests/integration/suites/uc21_meshjob/tc23_retry_on_raise/test.yaml
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

feat(meshjob): TS bundle — retry_on, outbound cancel, structuredContent
  src/runtime/core/src/cancel_registry.rs
  src/runtime/core/src/jobs_napi.rs
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/claim-dispatcher.ts
  src/runtime/typescript/src/inbound-job-dispatch.ts
  src/runtime/typescript/src/proxy.ts
  src/runtime/typescript/src/types.ts
Due: none

feat(meshjob): TS bundle — retry_on, outbound cancel, structuredContent (#897)
  src/runtime/core/src/cancel_registry.rs
  src/runtime/core/src/jobs_napi.rs
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/claim-dispatcher.ts
  src/runtime/typescript/src/inbound-job-dispatch.ts
  src/runtime/typescript/src/proxy.ts
  src/runtime/typescript/src/types.ts
Due: none

Path conditions:
  validate-openapi-spec: any of: ^api/.*\.yaml$
  detect-unauthorized-endpoints: any of: ^(src/core/registry/.*\.(go|py)|api/.*\.yaml)$
  check-generated-code: any of: ^api/.*\.yaml$
  prevent-generated-code-modification: any of: ^src/core/registry/generated/.*$
  validate-go-contract: any of: ^src/core/registry/.*\.go$, but not: ^src/core/registry/generated/.*$
