Repository dhyansraj/mcp-mesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

validate-openapi-spec:
  name: Validate OpenAPI Specification
  entry: python3 tools/validation/validate_schema.py api/mcp-mesh-registry.openapi.yaml
  language: system
  description: ' Validates OpenAPI specification syntax and schema'

detect-unauthorized-endpoints:
  name: Detect Unauthorized Endpoints
  entry: bash
  args:
  - -c
  - python3 tools/detection/detect_endpoints.py api/mcp-mesh-registry.openapi.yaml api/mcp-mesh-agent.openapi.yaml src/core/registry
  language: system
  description: ' Ensures all endpoints exist in OpenAPI specification'

check-generated-code:
  name: Check Generated Code Up to Date
  entry: bash
  args:
  - -c
  ...

prevent-generated-code-modification:
  name: Prevent Generated Code Modification
  entry: bash
  args:
  - -c
  ...

validate-go-contract:
  name: Validate Go Contract Compliance
  entry: bash
  args:
  - -c
  ...

chore: bump MCP SDKs (Java 1.1.3, TS fastmcp v4) (#1235)
  src/runtime/java/pom.xml
  src/runtime/typescript/package-lock.json
  src/runtime/typescript/package.json
Due: none

fix(java): propagate the underlying LLM vendor error (closes #1236)
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/MeshLlmProviderProcessor.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshLlmAgentProxy.java
Due: none

fix(java): propagate the underlying LLM vendor error (closes #1236) (#1237)
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/MeshLlmProviderProcessor.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshLlmAgentProxy.java
Due: none

fix(java): OpenAI handler uses max_completion_tokens (closes #1238)
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/handlers/OpenAiHandler.java
  src/runtime/java/mcp-mesh-spring-ai/src/test/java/io/mcpmesh/ai/handlers/ProviderModelParamsTest.java
Due: none

fix(java): OpenAI handler uses max_completion_tokens (closes #1238) (#1239)
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/handlers/OpenAiHandler.java
  src/runtime/java/mcp-mesh-spring-ai/src/test/java/io/mcpmesh/ai/handlers/ProviderModelParamsTest.java
Due: none

fix(java): apply the declared provider model to every LLM request + gate restricted-model sampling params
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/MeshLlmProviderProcessor.java
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/handlers/AnthropicHandler.java
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/handlers/GeminiHandler.java
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/handlers/LlmProviderHandler.java
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/handlers/OpenAiHandler.java
  src/runtime/java/mcp-mesh-spring-ai/src/test/java/io/mcpmesh/ai/handlers/ProviderDeclaredModelTest.java
  src/runtime/java/mcp-mesh-spring-ai/src/test/java/io/mcpmesh/ai/handlers/ProviderModelParamsTest.java
Due: none

fix(java): preserve declared model when output-schema setup fails
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/handlers/AnthropicHandler.java
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/handlers/OpenAiHandler.java
  src/runtime/java/mcp-mesh-spring-ai/src/test/java/io/mcpmesh/ai/handlers/ProviderDeclaredModelTest.java
Due: none

fix(java): apply declared provider model to every LLM request + gate restricted-model sampling params (#1240)
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/MeshLlmProviderProcessor.java
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/handlers/AnthropicHandler.java
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/handlers/GeminiHandler.java
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/handlers/LlmProviderHandler.java
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/handlers/OpenAiHandler.java
  src/runtime/java/mcp-mesh-spring-ai/src/test/java/io/mcpmesh/ai/handlers/ProviderDeclaredModelTest.java
  src/runtime/java/mcp-mesh-spring-ai/src/test/java/io/mcpmesh/ai/handlers/ProviderModelParamsTest.java
Due: none

fix(python): gate sampling params for OpenAI reasoning/gpt-5 models
  src/runtime/python/_mcp_mesh/engine/native_clients/_native_client_helpers.py
  src/runtime/python/_mcp_mesh/engine/native_clients/openai_native.py
  src/runtime/python/_mcp_mesh/engine/native_clients/tests/test_sampling_param_gating.py
  src/runtime/python/mesh/helpers.py
  src/runtime/python/tests/unit/test_llm_sampling_param_gating.py
Due: none

fix(python): gate sampling params for OpenAI reasoning/gpt-5 models (#1241)
  src/runtime/python/_mcp_mesh/engine/native_clients/_native_client_helpers.py
  src/runtime/python/_mcp_mesh/engine/native_clients/openai_native.py
  src/runtime/python/_mcp_mesh/engine/native_clients/tests/test_sampling_param_gating.py
  src/runtime/python/mesh/helpers.py
  src/runtime/python/tests/unit/test_llm_sampling_param_gating.py
Due: none

fix(python): translate max_tokens -> max_completion_tokens for OpenAI restricted models
  src/runtime/python/_mcp_mesh/engine/native_clients/openai_native.py
  src/runtime/python/_mcp_mesh/engine/native_clients/tests/test_sampling_param_gating.py
  src/runtime/python/mesh/helpers.py
  src/runtime/python/tests/unit/test_llm_sampling_param_gating.py
Due: none

refactor(python): share max_tokens translation between native and LiteLLM paths
  src/runtime/python/_mcp_mesh/engine/native_clients/_native_client_helpers.py
  src/runtime/python/_mcp_mesh/engine/native_clients/openai_native.py
  src/runtime/python/_mcp_mesh/engine/native_clients/tests/test_sampling_param_gating.py
  src/runtime/python/mesh/helpers.py
Due: none

fix(python): translate max_tokens to max_completion_tokens for OpenAI restricted models (#1242)
  src/runtime/python/_mcp_mesh/engine/native_clients/_native_client_helpers.py
  src/runtime/python/_mcp_mesh/engine/native_clients/openai_native.py
  src/runtime/python/_mcp_mesh/engine/native_clients/tests/test_sampling_param_gating.py
  src/runtime/python/mesh/helpers.py
  src/runtime/python/tests/unit/test_llm_sampling_param_gating.py
Due: none

fix(ts): mesh-level sampling-param gating for OpenAI restricted models
  src/runtime/typescript/src/__tests__/llm-provider-sampling-gating.test.ts
  src/runtime/typescript/src/llm-provider.ts
Due: none

fix(ts): mesh-level sampling-param gating for OpenAI restricted models (#1243)
  src/runtime/typescript/src/__tests__/llm-provider-sampling-gating.test.ts
  src/runtime/typescript/src/llm-provider.ts
Due: none

fix(registry): stale-job sweep honors a job's declared max_duration
  docs/concepts/jobs.md
  docs/environment-variables.md
  src/core/cli/man/content/environment.md
  src/core/cli/man/content/jobs.md
  src/core/cli/man/content/jobs_java.md
  src/core/cli/man/content/jobs_typescript.md
  src/core/registry/ent_service_jobs.go
  src/core/registry/sweep.go
  src/core/registry/sweep_jobs_test.go
  tests/integration/suites/uc21_meshjob/fixtures/long-task-consumer/main.py
  tests/integration/suites/uc21_meshjob/tc28_stale_job_reaped/test.yaml
  tests/integration/suites/uc21_meshjob/tc30_stale_respects_max_duration/test.yaml
Due: detect-unauthorized-endpoints, validate-go-contract

fix(registry): stale-reap reason names the actual binding ceiling
  src/core/registry/ent_service_jobs.go
  src/core/registry/sweep_jobs_test.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix(registry): stale-job sweep honors a job's declared max_duration (#1244)
  docs/concepts/jobs.md
  docs/environment-variables.md
  src/core/cli/man/content/environment.md
  src/core/cli/man/content/jobs.md
  src/core/cli/man/content/jobs_java.md
  src/core/cli/man/content/jobs_typescript.md
  src/core/registry/ent_service_jobs.go
  src/core/registry/sweep.go
  src/core/registry/sweep_jobs_test.go
  tests/integration/suites/uc21_meshjob/fixtures/long-task-consumer/main.py
  tests/integration/suites/uc21_meshjob/tc28_stale_job_reaped/test.yaml
  tests/integration/suites/uc21_meshjob/tc30_stale_respects_max_duration/test.yaml
Due: detect-unauthorized-endpoints, validate-go-contract

Deployed 1cefd356 with MkDocs version: 1.6.1
  concepts/jobs/index.html
  downloads/day-01-scaffold.zip
  downloads/day-02-dependency-injection.zip
  downloads/day-03-llm-provider.zip
  downloads/day-04-provider-tiers.zip
  downloads/day-05-http-gateway.zip
  downloads/day-06-chat-history.zip
  downloads/day-07-committee.zip
  downloads/day-08-docker-compose.zip
  downloads/day-09-kubernetes.zip
  downloads/day-10-whats-next.zip
  downloads/final-product.zip
  environment-variables/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat(ui): time-range filter (1h/1d/all) on the Traffic page
  cmd/mcp-mesh-ui/dist/index.html
  src/core/registry/tracing/accumulator.go
  src/core/registry/tracing/consumer.go
  src/core/registry/tracing/manager.go
  src/core/ui/server.go
  src/core/ui/traffic_handler.go
  src/core/ui/traffic_handler_test.go
  src/ui/app/traffic/page.tsx
  src/ui/components/layout/Header.tsx
  src/ui/components/ui/segmented.tsx
  src/ui/lib/api.ts
  src/ui/lib/types.ts
Due: detect-unauthorized-endpoints, validate-go-contract

fix(ui): windowed traffic — tail-first read, poll resilience, cache, cleanups
  cmd/mcp-mesh-ui/dist/index.html
  src/core/registry/tracing/consumer.go
  src/core/registry/tracing/manager.go
  src/core/registry/tracing/rangeevents_test.go
  src/core/ui/server.go
  src/core/ui/traffic_handler.go
  src/ui/app/traffic/page.tsx
  src/ui/lib/types.ts
Due: detect-unauthorized-endpoints, validate-go-contract

feat(ui): time-range filter (1h/1d/all) on the Traffic page (#1245)
  cmd/mcp-mesh-ui/dist/index.html
  src/core/registry/tracing/accumulator.go
  src/core/registry/tracing/consumer.go
  src/core/registry/tracing/manager.go
  src/core/registry/tracing/rangeevents_test.go
  src/core/ui/server.go
  src/core/ui/traffic_handler.go
  src/core/ui/traffic_handler_test.go
  src/ui/app/traffic/page.tsx
  src/ui/components/layout/Header.tsx
  src/ui/components/ui/segmented.tsx
  src/ui/lib/api.ts
  src/ui/lib/types.ts
Due: detect-unauthorized-endpoints, validate-go-contract

Deployed 291e68ee with MkDocs version: 1.6.1
  00-why-mcp-mesh/index.html
  02-local-development/index.html
  03-docker-deployment/04-networking/index.html
  03-docker-deployment/index.html
  04-kubernetes-basics/05-troubleshooting/index.html
  04-kubernetes-basics/index.html
  07-observability/index.html
  concepts/architecture/index.html
  concepts/stateful-agents/index.html
  deployment/index.html
  dev-to-production/index.html
  downloads/day-01-scaffold.zip
  downloads/day-02-dependency-injection.zip
  downloads/day-03-llm-provider.zip
  downloads/day-04-provider-tiers.zip
  downloads/day-05-http-gateway.zip
  downloads/day-06-chat-history.zip
  downloads/day-07-committee.zip
  downloads/day-08-docker-compose.zip
  downloads/day-09-kubernetes.zip
  downloads/day-10-whats-next.zip
  downloads/final-product.zip
  downloads/tutorial-complete.html
  downloads/tutorial-complete.txt
  index.html
  java/examples/index.html
  java/getting-started/index.html
  java/getting-started/prerequisites/index.html
  java/local-development/01-getting-started/index.html
  java/local-development/troubleshooting/index.html
  java/spring-boot-integration/index.html
  python/dependency-injection/index.html
  python/getting-started/prerequisites/index.html
  search/search_index.json
  tutorial/day-08-docker-compose/index.html
  tutorial/day-09-kubernetes/index.html
  typescript/examples/index.html
  typescript/getting-started/prerequisites/index.html
Due: none

fix(llm): guarantee reply envelope carries the answer as a string
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshLlmAgentProxy.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/MeshLlmAgentProxyContentRecoveryTest.java
  src/runtime/python/_mcp_mesh/engine/mesh_llm_agent.py
  src/runtime/python/_mcp_mesh/engine/native_clients/openai_native.py
  src/runtime/python/_mcp_mesh/engine/native_clients/tests/test_anthropic_native.py
  src/runtime/python/_mcp_mesh/engine/native_clients/tests/test_gemini_native.py
  src/runtime/python/_mcp_mesh/engine/native_clients/tests/test_openai_native.py
  src/runtime/python/mesh/helpers.py
  src/runtime/python/tests/unit/test_mesh_llm_content_none_and_parse_error.py
  src/runtime/python/tests/unit/test_provider_agentic_loop_output_config.py
  src/runtime/python/tests/unit/test_provider_agentic_loop_synthetic_format.py
  src/runtime/typescript/src/__tests__/llm-agent-content-recovery.test.ts
  src/runtime/typescript/src/llm-agent.ts
Due: none

fix(llm): apply review feedback on nested-envelope and serialization paths
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshLlmAgentProxy.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/MeshLlmAgentProxyContentRecoveryTest.java
  src/runtime/python/_mcp_mesh/engine/mesh_llm_agent.py
  src/runtime/python/_mcp_mesh/engine/native_clients/openai_native.py
  src/runtime/python/_mcp_mesh/engine/native_clients/tests/test_openai_native.py
  src/runtime/python/tests/unit/test_mesh_llm_content_none_and_parse_error.py
Due: none

fix(llm): guarantee reply envelope carries the answer as a string (#1248)
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/MeshLlmAgentProxy.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/MeshLlmAgentProxyContentRecoveryTest.java
  src/runtime/python/_mcp_mesh/engine/mesh_llm_agent.py
  src/runtime/python/_mcp_mesh/engine/native_clients/openai_native.py
  src/runtime/python/_mcp_mesh/engine/native_clients/tests/test_anthropic_native.py
  src/runtime/python/_mcp_mesh/engine/native_clients/tests/test_gemini_native.py
  src/runtime/python/_mcp_mesh/engine/native_clients/tests/test_openai_native.py
  src/runtime/python/mesh/helpers.py
  src/runtime/python/tests/unit/test_mesh_llm_content_none_and_parse_error.py
  src/runtime/python/tests/unit/test_provider_agentic_loop_output_config.py
  src/runtime/python/tests/unit/test_provider_agentic_loop_synthetic_format.py
  src/runtime/typescript/src/__tests__/llm-agent-content-recovery.test.ts
  src/runtime/typescript/src/llm-agent.ts
Due: none

fix(runtime): empty tool returns round-trip correctly across all runtimes
  src/core/cli/man/content/decorators.md
  src/core/cli/man/content/dependency-injection.md
  src/runtime/java/mcp-mesh-spring-ai/pom.xml
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/MeshLlmProviderProcessor.java
  src/runtime/java/mcp-mesh-spring-ai/src/test/java/io/mcpmesh/ai/McpToolExecutorSerializationTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/McpHttpClient.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/McpMeshToolProxyFactory.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/McpHttpClientEmptyContentTest.java
  src/runtime/python/_mcp_mesh/engine/unified_mcp_proxy.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_startup/fastmcpserver_discovery.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_startup/tests/test_empty_collection_serialization_1250.py
  src/runtime/python/tests/unit/test_proxy_empty_collection_1250.py
  src/runtime/typescript/src/__tests__/llm-agent-content-recovery.test.ts
  src/runtime/typescript/src/__tests__/llm-provider-multistep.test.ts
  src/runtime/typescript/src/__tests__/proxy-empty-content.test.ts
  src/runtime/typescript/src/__tests__/proxy-resource-link.test.ts
  src/runtime/typescript/src/__tests__/proxy-tool-error.test.ts
  src/runtime/typescript/src/llm-agent.ts
  src/runtime/typescript/src/llm-provider.ts
  src/runtime/typescript/src/proxy.ts
  tests/integration/suites/uc32_empty_return_values/artifacts/java-empty-consumer/pom.xml
  tests/integration/suites/uc32_empty_return_values/artifacts/java-empty-consumer/src/main/java/com/example/emptyconsumer/EmptyConsumerApplication.java
  tests/integration/suites/uc32_empty_return_values/artifacts/java-empty-consumer/src/main/resources/application.yml
  tests/integration/suites/uc32_empty_return_values/artifacts/java-empty-provider/pom.xml
  tests/integration/suites/uc32_empty_return_values/artifacts/java-empty-provider/src/main/java/com/example/emptyprovider/EmptyProviderApplication.java
  tests/integration/suites/uc32_empty_return_values/artifacts/java-empty-provider/src/main/resources/application.yml
  tests/integration/suites/uc32_empty_return_values/artifacts/py-empty-consumer/main.py
  tests/integration/suites/uc32_empty_return_values/artifacts/py-empty-provider/main.py
  tests/integration/suites/uc32_empty_return_values/artifacts/ts-empty-consumer/package.json
  tests/integration/suites/uc32_empty_return_values/artifacts/ts-empty-consumer/src/index.ts
  tests/integration/suites/uc32_empty_return_values/artifacts/ts-empty-consumer/tsconfig.json
  tests/integration/suites/uc32_empty_return_values/tc01_py_provider_py_consumer/test.yaml
  tests/integration/suites/uc32_empty_return_values/tc02_py_provider_ts_consumer/test.yaml
  tests/integration/suites/uc32_empty_return_values/tc03_py_provider_java_consumer/test.yaml
  tests/integration/suites/uc32_empty_return_values/tc04_java_provider_py_consumer/test.yaml
Due: none

fix(runtime): empty tool returns round-trip correctly across all runtimes (#1251)
  src/core/cli/man/content/decorators.md
  src/core/cli/man/content/dependency-injection.md
  src/runtime/java/mcp-mesh-spring-ai/pom.xml
  src/runtime/java/mcp-mesh-spring-ai/src/main/java/io/mcpmesh/ai/MeshLlmProviderProcessor.java
  src/runtime/java/mcp-mesh-spring-ai/src/test/java/io/mcpmesh/ai/McpToolExecutorSerializationTest.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/McpHttpClient.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/McpMeshToolProxyFactory.java
  src/runtime/java/mcp-mesh-spring-boot-starter/src/test/java/io/mcpmesh/spring/McpHttpClientEmptyContentTest.java
  src/runtime/python/_mcp_mesh/engine/unified_mcp_proxy.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_startup/fastmcpserver_discovery.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_startup/tests/test_empty_collection_serialization_1250.py
  src/runtime/python/tests/unit/test_proxy_empty_collection_1250.py
  src/runtime/typescript/src/__tests__/llm-agent-content-recovery.test.ts
  src/runtime/typescript/src/__tests__/llm-provider-multistep.test.ts
  src/runtime/typescript/src/__tests__/proxy-empty-content.test.ts
  src/runtime/typescript/src/__tests__/proxy-resource-link.test.ts
  src/runtime/typescript/src/__tests__/proxy-tool-error.test.ts
  src/runtime/typescript/src/llm-agent.ts
  src/runtime/typescript/src/llm-provider.ts
  src/runtime/typescript/src/proxy.ts
  tests/integration/suites/uc32_empty_return_values/artifacts/java-empty-consumer/pom.xml
  tests/integration/suites/uc32_empty_return_values/artifacts/java-empty-consumer/src/main/java/com/example/emptyconsumer/EmptyConsumerApplication.java
  tests/integration/suites/uc32_empty_return_values/artifacts/java-empty-consumer/src/main/resources/application.yml
  tests/integration/suites/uc32_empty_return_values/artifacts/java-empty-provider/pom.xml
  tests/integration/suites/uc32_empty_return_values/artifacts/java-empty-provider/src/main/java/com/example/emptyprovider/EmptyProviderApplication.java
  tests/integration/suites/uc32_empty_return_values/artifacts/java-empty-provider/src/main/resources/application.yml
  tests/integration/suites/uc32_empty_return_values/artifacts/py-empty-consumer/main.py
  tests/integration/suites/uc32_empty_return_values/artifacts/py-empty-provider/main.py
  tests/integration/suites/uc32_empty_return_values/artifacts/ts-empty-consumer/package.json
  tests/integration/suites/uc32_empty_return_values/artifacts/ts-empty-consumer/src/index.ts
  tests/integration/suites/uc32_empty_return_values/artifacts/ts-empty-consumer/tsconfig.json
  tests/integration/suites/uc32_empty_return_values/tc01_py_provider_py_consumer/test.yaml
  tests/integration/suites/uc32_empty_return_values/tc02_py_provider_ts_consumer/test.yaml
  tests/integration/suites/uc32_empty_return_values/tc03_py_provider_java_consumer/test.yaml
  tests/integration/suites/uc32_empty_return_values/tc04_java_provider_py_consumer/test.yaml
Due: none

refactor(jobs): apply review feedback on epoch parsing and hot paths
  src/core/registry/ent_handlers_jobs.go
  src/core/registry/ent_handlers_jobs_epoch_test.go
  src/core/registry/ent_service.go
  src/core/registry/ent_service_jobs.go
  src/runtime/python/_mcp_mesh/engine/claim_dispatcher.py
  src/runtime/typescript/src/__tests__/inbound-job-dispatch.spec.ts
  src/runtime/typescript/src/inbound-job-dispatch.ts
Due: detect-unauthorized-endpoints, validate-go-contract

feat(jobs): per-filter event cursors, multi-replica integration tests, and lease-semantics docs
  docs/concepts/jobs.md
  src/core/cli/man/content/environment.md
  src/core/cli/man/content/jobs.md
  src/core/cli/man/content/jobs_java.md
  src/core/cli/man/content/jobs_typescript.md
  src/runtime/core/src/jobs.rs
  tests/integration/suites/uc06_observability/tc03_java_llm_tracing/test.yaml
  tests/integration/suites/uc10_toolcalls/tc19_consumer_java_provider_claude_py_tool_py/test.yaml
  tests/integration/suites/uc10_toolcalls/tc20_consumer_java_provider_claude_py_tool_ts/test.yaml
  tests/integration/suites/uc10_toolcalls/tc22_consumer_java_provider_openai_py_tool_py/test.yaml
  tests/integration/suites/uc10_toolcalls/tc23_consumer_java_provider_openai_py_tool_ts/test.yaml
  tests/integration/suites/uc10_toolcalls/tc25_consumer_java_provider_gemini_py_tool_py/test.yaml
  tests/integration/suites/uc10_toolcalls/tc26_consumer_java_provider_gemini_py_tool_ts/test.yaml
  tests/integration/suites/uc10_toolcalls/tc46_consumer_java_provider_claude_ts_tool_py/test.yaml
  tests/integration/suites/uc20_tutorial/tc07_day07_committee/test.yaml
  tests/integration/suites/uc33_meshjob_replicas/artifacts/gate-driver
  tests/integration/suites/uc33_meshjob_replicas/artifacts/gated-worker-a
  tests/integration/suites/uc33_meshjob_replicas/artifacts/gated-worker-b
  tests/integration/suites/uc33_meshjob_replicas/fixtures/gate-driver/main.py
  tests/integration/suites/uc33_meshjob_replicas/fixtures/gated-worker-a/main.py
  tests/integration/suites/uc33_meshjob_replicas/fixtures/gated-worker-b/main.py
  tests/integration/suites/uc33_meshjob_replicas/routines.yaml
  tests/integration/suites/uc33_meshjob_replicas/tc01_quiet_gate_single_owner/test.yaml
  tests/integration/suites/uc33_meshjob_replicas/tc02_supersession_fences_stale_owner/test.yaml
Due: none

refactor(jobs): apply review feedback on recv_event queueing and wait routines
  src/runtime/core/src/jobs.rs
  tests/integration/global/routines.yaml
  tests/integration/suites/uc06_observability/tc03_java_llm_tracing/test.yaml
  tests/integration/suites/uc10_toolcalls/tc19_consumer_java_provider_claude_py_tool_py/test.yaml
  tests/integration/suites/uc10_toolcalls/tc20_consumer_java_provider_claude_py_tool_ts/test.yaml
  tests/integration/suites/uc10_toolcalls/tc22_consumer_java_provider_openai_py_tool_py/test.yaml
  tests/integration/suites/uc10_toolcalls/tc23_consumer_java_provider_openai_py_tool_ts/test.yaml
  tests/integration/suites/uc10_toolcalls/tc25_consumer_java_provider_gemini_py_tool_py/test.yaml
  tests/integration/suites/uc10_toolcalls/tc26_consumer_java_provider_gemini_py_tool_ts/test.yaml
  tests/integration/suites/uc10_toolcalls/tc46_consumer_java_provider_claude_ts_tool_py/test.yaml
  tests/integration/suites/uc20_tutorial/tc07_day07_committee/test.yaml
Due: none

feat(jobs): per-filter event cursors, multi-replica tests, lease docs (closes #1252) (#1254)
  docs/concepts/jobs.md
  src/core/cli/man/content/environment.md
  src/core/cli/man/content/jobs.md
  src/core/cli/man/content/jobs_java.md
  src/core/cli/man/content/jobs_typescript.md
  src/runtime/core/src/jobs.rs
  tests/integration/global/routines.yaml
  tests/integration/suites/uc06_observability/tc03_java_llm_tracing/test.yaml
  tests/integration/suites/uc10_toolcalls/tc19_consumer_java_provider_claude_py_tool_py/test.yaml
  tests/integration/suites/uc10_toolcalls/tc20_consumer_java_provider_claude_py_tool_ts/test.yaml
  tests/integration/suites/uc10_toolcalls/tc22_consumer_java_provider_openai_py_tool_py/test.yaml
  tests/integration/suites/uc10_toolcalls/tc23_consumer_java_provider_openai_py_tool_ts/test.yaml
  tests/integration/suites/uc10_toolcalls/tc25_consumer_java_provider_gemini_py_tool_py/test.yaml
  tests/integration/suites/uc10_toolcalls/tc26_consumer_java_provider_gemini_py_tool_ts/test.yaml
  tests/integration/suites/uc10_toolcalls/tc46_consumer_java_provider_claude_ts_tool_py/test.yaml
  tests/integration/suites/uc20_tutorial/tc07_day07_committee/test.yaml
  tests/integration/suites/uc33_meshjob_replicas/artifacts/gate-driver
  tests/integration/suites/uc33_meshjob_replicas/artifacts/gated-worker-a
  tests/integration/suites/uc33_meshjob_replicas/artifacts/gated-worker-b
  tests/integration/suites/uc33_meshjob_replicas/fixtures/gate-driver/main.py
  tests/integration/suites/uc33_meshjob_replicas/fixtures/gated-worker-a/main.py
  tests/integration/suites/uc33_meshjob_replicas/fixtures/gated-worker-b/main.py
  tests/integration/suites/uc33_meshjob_replicas/routines.yaml
  tests/integration/suites/uc33_meshjob_replicas/tc01_quiet_gate_single_owner/test.yaml
  tests/integration/suites/uc33_meshjob_replicas/tc02_supersession_fences_stale_owner/test.yaml
Due: none

Deployed 48999eb7 with MkDocs version: 1.6.1
  concepts/jobs/index.html
  downloads/day-01-scaffold.zip
  downloads/day-02-dependency-injection.zip
  downloads/day-03-llm-provider.zip
  downloads/day-04-provider-tiers.zip
  downloads/day-05-http-gateway.zip
  downloads/day-06-chat-history.zip
  downloads/day-07-committee.zip
  downloads/day-08-docker-compose.zip
  downloads/day-09-kubernetes.zip
  downloads/day-10-whats-next.zip
  downloads/final-product.zip
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat(di): required dependencies gate capability availability transitively
  api/mcp-mesh-registry.openapi.yaml
  src/core/registry/audit_trace.go
  src/core/registry/availability.go
  src/core/registry/availability_test.go
  src/core/registry/ent_handlers.go
  src/core/registry/ent_service.go
  src/core/registry/generated/server.go
  src/core/registry/resolver.go
  src/runtime/core/src/handle.rs
  src/runtime/core/src/napi.rs
  src/runtime/core/src/registry.rs
  src/runtime/core/src/runtime.rs
  src/runtime/core/src/spec.rs
  src/runtime/python/_mcp_mesh/engine/dependency_injector.py
  src/runtime/python/_mcp_mesh/pipeline/api_startup/route_integration.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_heartbeat/rust_heartbeat.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_startup/heartbeat_preparation.py
  src/runtime/python/mesh/decorators.py
  src/runtime/python/tests/unit/test_1249_required_dependency.py
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

refactor(di): apply review feedback on lock safety and perimeter dedup
  src/core/registry/availability.go
  src/core/registry/availability_test.go
  src/core/registry/ent_service.go
  src/runtime/core/src/registry.rs
  src/runtime/python/_mcp_mesh/engine/dependency_injector.py
  src/runtime/python/tests/unit/test_1249_required_dependency.py
Due: detect-unauthorized-endpoints, validate-go-contract

feat(di): required=true — transitive capability availability (Python first) (#1255)
  api/mcp-mesh-registry.openapi.yaml
  src/core/registry/audit_trace.go
  src/core/registry/availability.go
  src/core/registry/availability_test.go
  src/core/registry/ent_handlers.go
  src/core/registry/ent_service.go
  src/core/registry/generated/server.go
  src/core/registry/resolver.go
  src/runtime/core/src/handle.rs
  src/runtime/core/src/napi.rs
  src/runtime/core/src/registry.rs
  src/runtime/core/src/runtime.rs
  src/runtime/core/src/spec.rs
  src/runtime/python/_mcp_mesh/engine/dependency_injector.py
  src/runtime/python/_mcp_mesh/pipeline/api_startup/route_integration.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_heartbeat/rust_heartbeat.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_startup/heartbeat_preparation.py
  src/runtime/python/mesh/decorators.py
  src/runtime/python/tests/unit/test_1249_required_dependency.py
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

Path conditions:
  validate-openapi-spec: any of: ^api/.*\.yaml$
  detect-unauthorized-endpoints: any of: ^(src/core/registry/.*\.(go|py)|api/.*\.yaml)$
  check-generated-code: any of: ^api/.*\.yaml$
  prevent-generated-code-modification: any of: ^src/core/registry/generated/.*$
  validate-go-contract: any of: ^src/core/registry/.*\.go$, but not: ^src/core/registry/generated/.*$
