Repository dhyansraj/mcp-mesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

Path conditions:
  validate-openapi-spec: any of: ^api/.*\.yaml$
  detect-unauthorized-endpoints: any of: ^(src/core/registry/.*\.(go|py)|api/.*\.yaml)$
  check-generated-code: any of: ^api/.*\.yaml$
  prevent-generated-code-modification: any of: ^src/core/registry/generated/.*$
  validate-go-contract: any of: ^src/core/registry/.*\.go$, but not: ^src/core/registry/generated/.*$

feat: download_media API, port isolation tests, helm template fix (#660)
  cmd/meshctl/templates/java/basic/helm-values.yaml.tmpl
  cmd/meshctl/templates/java/llm-agent/helm-values.yaml.tmpl
  cmd/meshctl/templates/java/llm-provider/helm-values.yaml.tmpl
  cmd/meshctl/templates/python/basic/helm-values.yaml.tmpl
  cmd/meshctl/templates/python/llm-agent/helm-values.yaml.tmpl
  cmd/meshctl/templates/python/llm-provider/helm-values.yaml.tmpl
  cmd/meshctl/templates/typescript/basic/helm-values.yaml.tmpl
  cmd/meshctl/templates/typescript/llm-agent/helm-values.yaml.tmpl
  cmd/meshctl/templates/typescript/llm-provider/helm-values.yaml.tmpl
  docs/api/media-result.md
  docs/multimodal/llm-media-input.md
  src/core/cli/man/content/media.md
  src/core/cli/man/content/media_java.md
  src/core/cli/man/content/media_typescript.md
  src/runtime/java/mcp-mesh-spring-boot-starter/src/main/java/io/mcpmesh/spring/media/MeshMedia.java
  src/runtime/python/mesh/__init__.py
  src/runtime/python/mesh/media.py
  src/runtime/typescript/src/index.ts
  src/runtime/typescript/src/media/index.ts
  tests/integration/suites/uc05_meshctl/tc32_python_api_port_isolation/artifacts/py-api-app/main.py
  tests/integration/suites/uc05_meshctl/tc32_python_api_port_isolation/test.yaml
  tests/integration/suites/uc05_meshctl/tc33_ts_api_port_isolation/artifacts/ts-api-app/package.json
  tests/integration/suites/uc05_meshctl/tc33_ts_api_port_isolation/artifacts/ts-api-app/src/index.ts
  tests/integration/suites/uc05_meshctl/tc33_ts_api_port_isolation/test.yaml
  tests/integration/suites/uc14_multimedia/tc29_download_media_python/artifacts/py-download-agent/main.py
  tests/integration/suites/uc14_multimedia/tc29_download_media_python/test.yaml
  tests/integration/suites/uc14_multimedia/tc30_download_media_typescript/artifacts/ts-download-agent/package.json
  tests/integration/suites/uc14_multimedia/tc30_download_media_typescript/artifacts/ts-download-agent/src/index.ts
  tests/integration/suites/uc14_multimedia/tc30_download_media_typescript/test.yaml
  tests/integration/suites/uc14_multimedia/tc31_download_media_java/artifacts/java-download-agent/pom.xml
  tests/integration/suites/uc14_multimedia/tc31_download_media_java/artifacts/java-download-agent/src/main/java/com/example/download/DownloadAgentApplication.java
  tests/integration/suites/uc14_multimedia/tc31_download_media_java/artifacts/java-download-agent/src/main/resources/application.yml
  tests/integration/suites/uc14_multimedia/tc31_download_media_java/test.yaml
Due: none

Deployed 15c82e47 with MkDocs version: 1.6.1
  api/media-result/index.html
  multimodal/llm-media-input/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 4aa57649 with MkDocs version: 1.6.1
  00-why-mcp-mesh/index.html
  02-local-development/index.html
  04-kubernetes-basics/index.html
  07-observability/index.html
  concepts/architecture/index.html
  deployment/index.html
  dev-to-production/index.html
  index.html
  java/getting-started/index.html
  java/getting-started/prerequisites/index.html
  java/local-development/01-getting-started/index.html
  java/local-development/troubleshooting/index.html
  java/spring-boot-integration/index.html
  python/getting-started/prerequisites/index.html
  search/search_index.json
Due: none

feat: topology focus mode, pink API edges, interactive minimap
  src/ui/components/topology/AgentNode.tsx
  src/ui/components/topology/TopologyGraph.tsx
  src/ui/components/topology/TopologySidebar.tsx
  src/ui/lib/mesh-context.tsx
  src/ui/lib/topology.ts
Due: none

feat: add edge color legend to topology view (#665)
  src/ui/components/topology/TopologyGraph.tsx
Due: none

fix: remove hardcoded CORS from SSE handler, sanitize error response
  src/core/registry/ent_handlers.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix: regenerate server.go with oapi-codegen v2.5.1 to match CI
  go.mod
  go.sum
  src/core/registry/generated/server.go
Due: detect-unauthorized-endpoints, prevent-generated-code-modification

chore: update go.sum with ent generate transitive deps
  go.sum
Due: none

fix: address CodeRabbit review findings
  cmd/mcp-mesh-registry/main.go
  src/core/registry/event_poller.go
  src/core/registry/event_poller_test.go
  src/ui/.env.production
  src/ui/app/page.tsx
  src/ui/app/topology/page.tsx
  src/ui/components/agents/AgentDetail.tsx
  src/ui/components/dashboard/EventFeed.tsx
  src/ui/components/layout/Sidebar.tsx
  src/ui/components/topology/AgentNode.tsx
  src/ui/components/topology/TopologySidebar.tsx
  src/ui/lib/api.ts
  src/ui/lib/mesh-context.tsx
  src/ui/lib/sse.ts
  src/ui/lib/topology.ts
  src/ui/lib/types.ts
  src/ui/package-lock.json
  src/ui/package.json
Due: detect-unauthorized-endpoints, validate-go-contract

fix: meshctl stop kills only targeted agent in watch mode (#664)
  src/core/cli/start_execution.go
  src/core/cli/watcher.go
Due: none

fix: log PIDUpdateCallback errors, clarify fallback PID write
  src/core/cli/start_execution.go
Due: none

fix: meshctl stop kills only targeted agent in watch mode (#664) (#667)
  src/core/cli/start_execution.go
  src/core/cli/watcher.go
Due: none

feat: connection error page with troubleshooting steps
  src/ui/app/agents/page.tsx
  src/ui/app/page.tsx
  src/ui/app/topology/page.tsx
  src/ui/components/layout/ConnectionError.tsx
Due: none

feat: lazy poller + connection error page
  src/core/registry/event_poller.go
Due: detect-unauthorized-endpoints, validate-go-contract

feat: dashboard v2 — trace traffic stats, topology heatmap, agent traces (#668)
  src/core/registry/server.go
  src/core/registry/tracing/manager.go
  src/core/registry/tracing/tempo_client.go
  src/ui/app/page.tsx
  src/ui/components/agents/AgentDetail.tsx
  src/ui/components/agents/AgentTraces.tsx
  src/ui/components/dashboard/TrafficTable.tsx
  src/ui/components/topology/TopologyGraph.tsx
  src/ui/lib/api.ts
  src/ui/lib/types.ts
Due: detect-unauthorized-endpoints, validate-go-contract

feat: expandable span tree in agent traces tab
  src/ui/components/agents/AgentTraces.tsx
  src/ui/lib/api.ts
  src/ui/lib/types.ts
Due: none

feat: TracePoller with SSE trace activity indicators on agent rows
  src/core/registry/server.go
  src/core/registry/trace_poller.go
  src/ui/components/agents/AgentTable.tsx
  src/ui/lib/mesh-context.tsx
  src/ui/lib/sse.ts
  src/ui/lib/types.ts
Due: detect-unauthorized-endpoints, validate-go-contract

feat: v2 polish — SSE-driven heatmap, sparklines, stable topology
  src/ui/components/agents/AgentDetail.tsx
  src/ui/components/agents/AgentTable.tsx
  src/ui/components/agents/AgentTraces.tsx
  src/ui/components/dashboard/EventFeed.tsx
  src/ui/components/dashboard/TrafficTable.tsx
  src/ui/components/topology/AgentNode.tsx
  src/ui/components/topology/TopologyGraph.tsx
  src/ui/lib/mesh-context.tsx
  src/ui/lib/topology.ts
Due: none

fix: address CodeRabbit v2 review findings
  src/core/registry/server.go
  src/core/registry/trace_poller.go
  src/core/registry/tracing/manager.go
  src/ui/components/agents/AgentTraces.tsx
  src/ui/components/topology/TopologyGraph.tsx
  src/ui/lib/topology.ts
  src/ui/lib/types.ts
Due: detect-unauthorized-endpoints, validate-go-contract

feat: Dashboard v2 — trace stats, heatmap, and live indicators (#668) (#670)
  src/core/registry/event_poller.go
  src/core/registry/server.go
  src/core/registry/trace_poller.go
  src/core/registry/tracing/manager.go
  src/core/registry/tracing/tempo_client.go
  src/ui/app/agents/page.tsx
  src/ui/app/page.tsx
  src/ui/app/topology/page.tsx
  src/ui/components/agents/AgentDetail.tsx
  src/ui/components/agents/AgentTable.tsx
  src/ui/components/agents/AgentTraces.tsx
  src/ui/components/dashboard/EventFeed.tsx
  src/ui/components/dashboard/TrafficTable.tsx
  src/ui/components/layout/ConnectionError.tsx
  src/ui/components/topology/AgentNode.tsx
  src/ui/components/topology/TopologyGraph.tsx
  src/ui/lib/api.ts
  src/ui/lib/mesh-context.tsx
  src/ui/lib/sse.ts
  src/ui/lib/topology.ts
  src/ui/lib/types.ts
Due: detect-unauthorized-endpoints, validate-go-contract

feat: v3 backend — Redis-based trace accumulator + live SSE (#669)
  api/mcp-mesh-registry.openapi.yaml
  src/core/registry/ent_handlers.go
  src/core/registry/ent_handlers_test.go
  src/core/registry/generated/server.go
  src/core/registry/server.go
  src/core/registry/trace_poller.go
  src/core/registry/tracing/accumulator.go
  src/core/registry/tracing/manager.go
  src/core/registry/tracing/multi_processor.go
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

feat: v3 Live page — real-time call flow visualization (#669)
  src/ui/app/live/page.tsx
  src/ui/components/layout/Sidebar.tsx
  src/ui/components/live/LiveTraceView.tsx
  src/ui/lib/live-trace.ts
Due: none

feat: trace ID in live header, sidebar activity dot, completion fix
  src/ui/components/layout/Sidebar.tsx
  src/ui/components/live/LiveTraceView.tsx
  src/ui/lib/live-trace.ts
Due: none

feat: rewrite live trace with backend snapshots (#669)
  src/core/registry/ent_handlers.go
  src/core/registry/server.go
  src/core/registry/tracing/accumulator.go
  src/ui/components/layout/Sidebar.tsx
  src/ui/components/live/LiveTraceView.tsx
  src/ui/lib/live-trace.ts
Due: detect-unauthorized-endpoints, validate-go-contract

fix: remove debug logging, tune stale trace cleanup
  src/core/registry/tracing/accumulator.go
  src/ui/lib/live-trace.ts
Due: detect-unauthorized-endpoints, validate-go-contract

fix: address CodeRabbit v3 review findings
  api/mcp-mesh-registry.openapi.yaml
  src/core/registry/server.go
  src/core/registry/trace_poller.go
  src/core/registry/tracing/accumulator.go
  src/core/registry/tracing/manager.go
  src/ui/components/layout/Sidebar.tsx
  src/ui/components/live/LiveTraceView.tsx
  src/ui/lib/live-trace.ts
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, validate-go-contract

chore: regenerate server.go after OpenAPI description update
  src/core/registry/generated/server.go
Due: detect-unauthorized-endpoints, prevent-generated-code-modification

feat: Dashboard v3 — live call flow and Redis trace accumulator (#669) (#673)
  api/mcp-mesh-registry.openapi.yaml
  src/core/registry/ent_handlers.go
  src/core/registry/ent_handlers_test.go
  src/core/registry/generated/server.go
  src/core/registry/server.go
  src/core/registry/trace_poller.go
  src/core/registry/tracing/accumulator.go
  src/core/registry/tracing/manager.go
  src/core/registry/tracing/multi_processor.go
  src/ui/app/live/page.tsx
  src/ui/components/layout/Sidebar.tsx
  src/ui/components/live/LiveTraceView.tsx
  src/ui/lib/live-trace.ts
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

feat: Dashboard v4 Phase 1 — standalone UI server binary (#675)
  Makefile
  cmd/mcp-mesh-ui/embed.go
  cmd/mcp-mesh-ui/main.go
  cmd/mcp-mesh-ui/out/index.html
  src/core/ui/config.go
  src/core/ui/proxy.go
  src/core/ui/server.go
  src/ui/.env.production
  src/ui/lib/api.ts
  src/ui/lib/live-trace.ts
  src/ui/lib/sse.ts
Due: none

refactor: standardize registry and UI server flags to pflag
  cmd/mcp-mesh-registry/main.go
  cmd/mcp-mesh-ui/main.go
Due: none

feat: Dashboard v4 Phase 2 — EventHub, EventPoller, SSE and event history (#675)
  cmd/mcp-mesh-ui/.gitignore
  cmd/mcp-mesh-ui/main.go
  src/core/ui/event_hub.go
  src/core/ui/event_poller.go
  src/core/ui/handlers.go
  src/core/ui/server.go
Due: none

chore: change UI server default port to 3080
  cmd/mcp-mesh-ui/main.go
  src/core/ui/server.go
Due: none

feat: Dashboard v4 Phase 3 — own tracing pipeline and trace endpoints (#675)
  cmd/mcp-mesh-ui/main.go
  src/core/registry/tracing/manager_ui.go
  src/core/ui/server.go
  src/core/ui/trace_handlers.go
  src/core/ui/trace_poller.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix: smart duration formatting — show s/ms/µs based on magnitude
  src/ui/components/agents/AgentTraces.tsx
  src/ui/components/live/LiveTraceView.tsx
  src/ui/components/topology/TopologyGraph.tsx
  src/ui/lib/api.ts
Due: none

feat: Dashboard v4 Phase 4 — meshctl --ui, --ui-port, --dashboard flags (#675)
  src/core/cli/pid_manager.go
  src/core/cli/process_lifecycle.go
  src/core/cli/start.go
  src/core/cli/start_execution.go
  src/core/cli/start_registry.go
  src/core/cli/start_ui.go
  src/core/cli/stop.go
Due: none

feat: Dashboard v4 Phase 4 — strip dashboard code from registry (#675)
  api/mcp-mesh-registry.openapi.yaml
  cmd/mcp-mesh-registry/main.go
  src/core/registry/api_service_heartbeat_test.go
  src/core/registry/comprehensive_json_test.go
  src/core/registry/dependency_calculation_test.go
  src/core/registry/ent_dependency_test.go
  src/core/registry/ent_handlers.go
  src/core/registry/ent_handlers_test.go
  src/core/registry/ent_service.go
  src/core/registry/event_hub.go
  src/core/registry/event_hub_test.go
  src/core/registry/event_poller.go
  src/core/registry/event_poller_test.go
  src/core/registry/generated/server.go
  src/core/registry/llm_provider_resolver.go
  src/core/registry/llm_provider_resolver_test.go
  src/core/registry/llm_tools_integration_test.go
  src/core/registry/minimal_http_test.go
  src/core/registry/server.go
  src/core/registry/trace_poller.go
  tools/codegen/generate.sh
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract
