Repository dhyansraj/mcp-mesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

validate-openapi-spec:
  name: Validate OpenAPI Specification
  entry: python3 tools/validation/validate_schema.py api/mcp-mesh-registry.openapi.yaml
  language: system
  description: 🤖 Validates OpenAPI specification syntax and schema

detect-unauthorized-endpoints:
  name: Detect Unauthorized Endpoints
  entry: bash
  args:
  - -c
  - python3 tools/detection/detect_endpoints.py api/mcp-mesh-registry.openapi.yaml api/mcp-mesh-agent.openapi.yaml src/core/registry
  language: system
  description: 🤖 Ensures all endpoints exist in OpenAPI specification

check-generated-code:
  name: Check Generated Code Up to Date
  entry: bash
  args:
  - -c
  ...

prevent-generated-code-modification:
  name: Prevent Generated Code Modification
  entry: bash
  args:
  - -c
  ...

validate-go-contract:
  name: Validate Go Contract Compliance
  entry: bash
  args:
  - -c
  ...

Enhance Helm charts with auto-generated ConfigMap support and fix FastMCP agent deployment
  helm/mcp-mesh-agent/README.md
  helm/mcp-mesh-agent/docs/agent-code-methods.md
  helm/mcp-mesh-agent/examples/auto-configmap-values.yaml
  helm/mcp-mesh-agent/scripts/demo-agent.py
  helm/mcp-mesh-agent/scripts/dependent-agent.py
  helm/mcp-mesh-agent/scripts/fastmcp-agent.py
  helm/mcp-mesh-agent/templates/agent-code-configmap.yaml
  helm/mcp-mesh-agent/templates/configmap.yaml
  helm/mcp-mesh-agent/templates/deployment.yaml
  helm/mcp-mesh-agent/values.yaml
  helm/mcp-mesh-core/values.yaml
  helm/mcp-mesh-ingress/values.yaml
Due: none

Apply formatting fixes and cleanup from pre-commit hooks
  AGENT_DEVELOPMENT.md
  STATUS_CHANGE_IMPLEMENTATION_PLAN.md
  helm/mcp-mesh-agent/README.md
  helm/mcp-mesh-agent/docs/agent-code-methods.md
  helm/mcp-mesh-agent/examples/auto-configmap-values.yaml
  helm/mcp-mesh-agent/scripts/demo-agent.py
  helm/mcp-mesh-agent/scripts/dependent-agent.py
  helm/mcp-mesh-agent/templates/agent-code-configmap.yaml
Due: none

Fix Helm chart deployment issues and enhance agent code deployment methods (Closes #87) (#89)
  AGENT_DEVELOPMENT.md
  STATUS_CHANGE_IMPLEMENTATION_PLAN.md
  helm/mcp-mesh-agent/README.md
  helm/mcp-mesh-agent/docs/agent-code-methods.md
  helm/mcp-mesh-agent/examples/auto-configmap-values.yaml
  helm/mcp-mesh-agent/scripts/demo-agent.py
  helm/mcp-mesh-agent/scripts/dependent-agent.py
  helm/mcp-mesh-agent/scripts/fastmcp-agent.py
  helm/mcp-mesh-agent/templates/agent-code-configmap.yaml
  helm/mcp-mesh-agent/templates/configmap.yaml
  helm/mcp-mesh-agent/templates/deployment.yaml
  helm/mcp-mesh-agent/values.yaml
  helm/mcp-mesh-core/values.yaml
  helm/mcp-mesh-ingress/values.yaml
Due: none

Add architecture diagrams and update README to clarify MCP vs MCP Mesh
  README.md
  mcp-mesh_arch.png
  mcp_arch.png
Due: none

Enhance architecture comparison messaging to emphasize complexity reduction
  README.md
Due: none

Add visual architecture diagrams to clarify MCP vs MCP Mesh paradigm shift (Closes #88) (#90)
  README.md
  mcp-mesh_arch.png
  mcp_arch.png
Due: none

Implement distributed tracing with async-safe context propagation
  cmd/mcp-mesh-registry/main.go
  docs/07-observability.md
  docs/07-observability/03-distributed-tracing.md
  examples/docker-examples/README.md
  examples/docker-examples/docker-compose.yml
  examples/simple/dependent_agent.py
  examples/simple/fastmcp_agent.py
  go.mod
  go.sum
  grafana/dashboards/mcp-mesh-overview.json
  grafana/grafana.ini
  grafana/provisioning/dashboards/dashboards.yaml
  grafana/provisioning/datasources/datasources.yaml
  grafana/themes/mcp-mesh-theme.css
  src/core/registry/ent_service.go
  src/core/registry/server.go
  src/core/registry/tracing/consumer.go
  src/core/registry/tracing/correlator.go
  src/core/registry/tracing/events.go
  src/core/registry/tracing/exporters.go
  src/core/registry/tracing/manager.go
  src/runtime/python/_mcp_mesh/engine/dependency_injector.py
  src/runtime/python/_mcp_mesh/engine/full_mcp_proxy.py
  src/runtime/python/_mcp_mesh/engine/http_wrapper.py
  src/runtime/python/_mcp_mesh/engine/mcp_client_proxy.py
  src/runtime/python/_mcp_mesh/engine/self_dependency_proxy.py
  src/runtime/python/_mcp_mesh/pipeline/startup/configuration.py
  src/runtime/python/_mcp_mesh/tracing/agent_context_helper.py
  src/runtime/python/_mcp_mesh/tracing/context.py
  src/runtime/python/_mcp_mesh/tracing/execution_tracer.py
  src/runtime/python/_mcp_mesh/tracing/redis_metadata_publisher.py
  src/runtime/python/_mcp_mesh/tracing/trace_context_helper.py
  src/runtime/python/mesh/decorators.py
  tempo/tempo.yaml
Due: detect-unauthorized-endpoints, validate-go-contract

Clean up distributed tracing debug statements while preserving functionality
  src/core/registry/tracing/consumer.go
  src/core/registry/tracing/manager.go
Due: detect-unauthorized-endpoints, validate-go-contract

Implement distributed tracing with Redis streams and OTLP export (Closes #91) (#92)
  cmd/mcp-mesh-registry/main.go
  docs/07-observability.md
  docs/07-observability/03-distributed-tracing.md
  examples/docker-examples/README.md
  examples/docker-examples/docker-compose.yml
  examples/simple/dependent_agent.py
  examples/simple/fastmcp_agent.py
  go.mod
  go.sum
  grafana/dashboards/mcp-mesh-overview.json
  grafana/grafana.ini
  grafana/provisioning/dashboards/dashboards.yaml
  grafana/provisioning/datasources/datasources.yaml
  grafana/themes/mcp-mesh-theme.css
  src/core/registry/ent_service.go
  src/core/registry/server.go
  src/core/registry/tracing/consumer.go
  src/core/registry/tracing/correlator.go
  src/core/registry/tracing/events.go
  src/core/registry/tracing/exporters.go
  src/core/registry/tracing/manager.go
  src/runtime/python/_mcp_mesh/engine/dependency_injector.py
  src/runtime/python/_mcp_mesh/engine/full_mcp_proxy.py
  src/runtime/python/_mcp_mesh/engine/http_wrapper.py
  src/runtime/python/_mcp_mesh/engine/mcp_client_proxy.py
  src/runtime/python/_mcp_mesh/engine/self_dependency_proxy.py
  src/runtime/python/_mcp_mesh/pipeline/startup/configuration.py
  src/runtime/python/_mcp_mesh/tracing/agent_context_helper.py
  src/runtime/python/_mcp_mesh/tracing/context.py
  src/runtime/python/_mcp_mesh/tracing/execution_tracer.py
  src/runtime/python/_mcp_mesh/tracing/redis_metadata_publisher.py
  src/runtime/python/_mcp_mesh/tracing/trace_context_helper.py
  src/runtime/python/mesh/decorators.py
  tempo/tempo.yaml
Due: detect-unauthorized-endpoints, validate-go-contract

Add real-time trace streaming API with Server-Sent Events
  api/mcp-mesh-registry.openapi.yaml
  src/core/registry/ent_handlers.go
  src/core/registry/generated/server.go
  src/core/registry/tracing/manager.go
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

Fix Go tests: Add StreamTrace method to TestHandlers
  src/core/registry/ent_handlers_test.go
Due: detect-unauthorized-endpoints, validate-go-contract

Add real-time trace streaming API for multi-agent workflow monitoring (Closes #93) (#94)
  api/mcp-mesh-registry.openapi.yaml
  src/core/registry/ent_handlers.go
  src/core/registry/ent_handlers_test.go
  src/core/registry/generated/server.go
  src/core/registry/tracing/manager.go
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

Prepare v0.4.0 release with observability stack and comprehensive version updates
  .github/workflows/release.yml
  Makefile
  README.md
  RELEASE_NOTES.md
  docker/docker-compose.yml
  docs/01-getting-started.md
  docs/01-getting-started/02-installation.md
  docs/01-getting-started/05-first-agent.md
  docs/02-local-development.md
  docs/02-local-development/01-environment-setup.md
  docs/02-local-development/03-debugging.md
  docs/04-kubernetes-basics/03-kubectl-deployment.md
  docs/04-kubernetes-basics/05-troubleshooting.md
  docs/06-helm-deployment/01-understanding-charts.md
  docs/06-helm-deployment/02-umbrella-chart.md
  examples/complex/data_processor_agent/docker-compose.yml
  examples/docker-examples/docker-compose.yml
  examples/k8s/base/agents/dependent-agent-deployment.yaml
  examples/k8s/base/agents/enhanced-fastmcp-agent-deployment.yaml
  examples/k8s/base/agents/fastmcp-agent-deployment.yaml
  examples/k8s/base/agents/hello-world-deployment.yaml
  examples/k8s/base/agents/mcpagent-sample.yaml
  examples/k8s/base/agents/system-agent-deployment.yaml
  examples/k8s/base/crds/mcpagent-crd.yaml
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  k8s/base/crds/mcpagent-crd.yaml
  k8s/base/registry/backup-cronjob.yaml
  k8s/base/registry/statefulset.yaml
  packaging/homebrew/mcp-mesh.rb
  packaging/pypi/pyproject.toml
  packaging/scoop/mcp-mesh.json
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/pyproject.toml
Due: none

Release v0.4.0 - Observability Stack Integration (#98)
  .github/workflows/release.yml
  Makefile
  README.md
  RELEASE_NOTES.md
  docker/docker-compose.yml
  docs/01-getting-started.md
  docs/01-getting-started/02-installation.md
  docs/01-getting-started/05-first-agent.md
  docs/02-local-development.md
  docs/02-local-development/01-environment-setup.md
  docs/02-local-development/03-debugging.md
  docs/04-kubernetes-basics/03-kubectl-deployment.md
  docs/04-kubernetes-basics/05-troubleshooting.md
  docs/06-helm-deployment/01-understanding-charts.md
  docs/06-helm-deployment/02-umbrella-chart.md
  examples/complex/data_processor_agent/docker-compose.yml
  examples/docker-examples/docker-compose.yml
  examples/k8s/base/agents/dependent-agent-deployment.yaml
  examples/k8s/base/agents/enhanced-fastmcp-agent-deployment.yaml
  examples/k8s/base/agents/fastmcp-agent-deployment.yaml
  examples/k8s/base/agents/hello-world-deployment.yaml
  examples/k8s/base/agents/mcpagent-sample.yaml
  examples/k8s/base/agents/system-agent-deployment.yaml
  examples/k8s/base/crds/mcpagent-crd.yaml
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  k8s/base/crds/mcpagent-crd.yaml
  k8s/base/registry/backup-cronjob.yaml
  k8s/base/registry/statefulset.yaml
  packaging/homebrew/mcp-mesh.rb
  packaging/pypi/pyproject.toml
  packaging/scoop/mcp-mesh.json
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/pyproject.toml
Due: none

Implement enhanced tag matching with +/- operators for smart service discovery
  examples/simple/dependent_agent.py
  examples/simple/fastmcp_agent.py
  src/core/registry/enhanced_tag_demo_test.go
  src/core/registry/enhanced_tag_matching_test.go
  src/core/registry/ent_service.go
  src/core/registry/exclusion_demo_test.go
Due: detect-unauthorized-endpoints, validate-go-contract

Add comprehensive documentation for enhanced tag matching feature
  docs/enhanced-tag-matching-migration.md
  docs/mesh-decorators.md
Due: none

Enhanced Tag Matching Documentation (Closes #99) (#100)
  docs/enhanced-tag-matching-migration.md
  docs/mesh-decorators.md
  examples/simple/dependent_agent.py
  examples/simple/fastmcp_agent.py
  src/core/registry/enhanced_tag_demo_test.go
  src/core/registry/enhanced_tag_matching_test.go
  src/core/registry/ent_service.go
  src/core/registry/exclusion_demo_test.go
Due: detect-unauthorized-endpoints, validate-go-contract

Release v0.4.1 - Enhanced Tag Matching System
  .github/workflows/release.yml
  Makefile
  README.md
  RELEASE_NOTES.md
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  packaging/homebrew/mcp-mesh.rb
  packaging/pypi/pyproject.toml
  packaging/scoop/mcp-mesh.json
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/pyproject.toml
Due: none

Release v0.4.1 - Enhanced Tag Matching System (#102)
  .github/workflows/release.yml
  Makefile
  README.md
  RELEASE_NOTES.md
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  packaging/homebrew/mcp-mesh.rb
  packaging/pypi/pyproject.toml
  packaging/scoop/mcp-mesh.json
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/pyproject.toml
Due: none

Fix SSE parsing failures and FastMCP discovery iteration errors
  examples/advanced/chat_client_agent.py
  examples/advanced/llm_chat_agent.py
  src/runtime/python/_mcp_mesh/engine/async_mcp_client.py
  src/runtime/python/_mcp_mesh/engine/full_mcp_proxy.py
  src/runtime/python/_mcp_mesh/engine/mcp_client_proxy.py
  src/runtime/python/_mcp_mesh/pipeline/startup/fastmcpserver_discovery.py
  src/runtime/python/_mcp_mesh/shared/sse_parser.py
  src/runtime/python/mesh/__init__.py
Due: none

Fix formatting and linting issues from pre-commit hooks
  src/runtime/python/_mcp_mesh/engine/async_mcp_client.py
  src/runtime/python/_mcp_mesh/engine/full_mcp_proxy.py
  src/runtime/python/_mcp_mesh/engine/mcp_client_proxy.py
  src/runtime/python/_mcp_mesh/shared/sse_parser.py
  src/runtime/python/mesh/__init__.py
Due: none

Apply code formatting to example files
  examples/advanced/chat_client_agent.py
  examples/advanced/llm_chat_agent.py
Due: none

Fix unit tests for SSE parser changes
  src/runtime/python/_mcp_mesh/engine/full_mcp_proxy.py
  src/runtime/python/_mcp_mesh/shared/sse_parser.py
Due: none

Fix SSE parsing failures and FastMCP discovery iteration errors (#105)
  examples/advanced/chat_client_agent.py
  examples/advanced/llm_chat_agent.py
  src/runtime/python/_mcp_mesh/engine/async_mcp_client.py
  src/runtime/python/_mcp_mesh/engine/full_mcp_proxy.py
  src/runtime/python/_mcp_mesh/engine/mcp_client_proxy.py
  src/runtime/python/_mcp_mesh/pipeline/startup/fastmcpserver_discovery.py
  src/runtime/python/_mcp_mesh/shared/sse_parser.py
  src/runtime/python/mesh/__init__.py
Due: none

Release v0.4.2 - Critical Reliability Fixes
  .github/workflows/release.yml
  Makefile
  README.md
  RELEASE_NOTES.md
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  packaging/homebrew/mcp-mesh.rb
  packaging/pypi/pyproject.toml
  packaging/scoop/mcp-mesh.json
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/pyproject.toml
Due: none

Release v0.4.2 - Critical Reliability Fixes (#107)
  .github/workflows/release.yml
  Makefile
  README.md
  RELEASE_NOTES.md
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  packaging/homebrew/mcp-mesh.rb
  packaging/pypi/pyproject.toml
  packaging/scoop/mcp-mesh.json
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/pyproject.toml
Due: none

Implement Unified MCP Proxy with Comprehensive Telemetry
  examples/advanced/chat_client_agent.py
  examples/simple/dependent_agent.py
  examples/simple/fastmcp_agent.py
  src/runtime/python/_mcp_mesh/engine/__init__.py
  src/runtime/python/_mcp_mesh/engine/async_mcp_client.py
  src/runtime/python/_mcp_mesh/engine/decorator_registry.py
  src/runtime/python/_mcp_mesh/engine/dependency_injector.py
  src/runtime/python/_mcp_mesh/engine/full_mcp_proxy.py
  src/runtime/python/_mcp_mesh/engine/http_wrapper.py
  src/runtime/python/_mcp_mesh/engine/mcp_client_proxy.py
  src/runtime/python/_mcp_mesh/engine/unified_mcp_proxy.py
  src/runtime/python/_mcp_mesh/pipeline/api_heartbeat/api_dependency_resolution.py
  src/runtime/python/_mcp_mesh/pipeline/api_heartbeat/api_registry_connection.py
  src/runtime/python/_mcp_mesh/pipeline/api_startup/api_server_setup.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_heartbeat/dependency_resolution.py
  src/runtime/python/_mcp_mesh/tracing/agent_context_helper.py
  src/runtime/python/_mcp_mesh/tracing/execution_tracer.py
  src/runtime/python/mesh/types.py
  src/runtime/python/tests/unit/test_15_mcp_client_proxy_supported.py
Due: none

Implement Unified Telemetry Architecture with FastMCP Integration (#115)
  examples/advanced/chat_client_agent.py
  examples/simple/dependent_agent.py
  examples/simple/fastmcp_agent.py
  src/runtime/python/_mcp_mesh/engine/__init__.py
  src/runtime/python/_mcp_mesh/engine/async_mcp_client.py
  src/runtime/python/_mcp_mesh/engine/decorator_registry.py
  src/runtime/python/_mcp_mesh/engine/dependency_injector.py
  src/runtime/python/_mcp_mesh/engine/full_mcp_proxy.py
  src/runtime/python/_mcp_mesh/engine/http_wrapper.py
  src/runtime/python/_mcp_mesh/engine/mcp_client_proxy.py
  src/runtime/python/_mcp_mesh/engine/unified_mcp_proxy.py
  src/runtime/python/_mcp_mesh/pipeline/api_heartbeat/api_dependency_resolution.py
  src/runtime/python/_mcp_mesh/pipeline/api_heartbeat/api_registry_connection.py
  src/runtime/python/_mcp_mesh/pipeline/api_startup/api_server_setup.py
  src/runtime/python/_mcp_mesh/pipeline/mcp_heartbeat/dependency_resolution.py
  src/runtime/python/_mcp_mesh/tracing/agent_context_helper.py
  src/runtime/python/_mcp_mesh/tracing/execution_tracer.py
  src/runtime/python/mesh/types.py
  src/runtime/python/tests/unit/test_15_mcp_client_proxy_supported.py
Due: none

Release v0.5.1 - Unified Telemetry Architecture with FastMCP Integration
  .github/workflows/release.yml
  Makefile
  README.md
  RELEASE_NOTES.md
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  packaging/homebrew/mcp-mesh.rb
  packaging/pypi/pyproject.toml
  packaging/scoop/mcp-mesh.json
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/pyproject.toml
Due: none

Release v0.5.1 - Unified Telemetry Architecture with FastMCP Integration (#117)
  .github/workflows/release.yml
  Makefile
  README.md
  RELEASE_NOTES.md
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-core/Chart.yaml
  helm/mcp-mesh-grafana/Chart.yaml
  helm/mcp-mesh-ingress/Chart.yaml
  helm/mcp-mesh-postgres/Chart.yaml
  helm/mcp-mesh-redis/Chart.yaml
  helm/mcp-mesh-tempo/Chart.yaml
  packaging/homebrew/mcp-mesh.rb
  packaging/pypi/pyproject.toml
  packaging/scoop/mcp-mesh.json
  src/runtime/python/_mcp_mesh/__init__.py
  src/runtime/python/pyproject.toml
Due: none

Fix Distributed tracing defects
  examples/simple/fastapi_app.py
  examples/simple/fastmcp_agent.py
  observability/grafana/dashboards/mcp-mesh-overview.json
  observability/grafana/grafana.ini
  src/runtime/python/_mcp_mesh/engine/dependency_injector.py
  src/runtime/python/_mcp_mesh/engine/http_wrapper.py
  src/runtime/python/_mcp_mesh/engine/unified_mcp_proxy.py
  src/runtime/python/_mcp_mesh/pipeline/api_startup/api_pipeline.py
  src/runtime/python/_mcp_mesh/pipeline/api_startup/middleware_integration.py
  src/runtime/python/_mcp_mesh/shared/fastapi_middleware_manager.py
  src/runtime/python/_mcp_mesh/tracing/agent_context_helper.py
  src/runtime/python/_mcp_mesh/tracing/context.py
  src/runtime/python/_mcp_mesh/tracing/execution_tracer.py
  src/runtime/python/_mcp_mesh/tracing/fastapi_tracing_middleware.py
  src/runtime/python/_mcp_mesh/tracing/redis_metadata_publisher.py
  src/runtime/python/_mcp_mesh/tracing/trace_context_helper.py
  src/runtime/python/_mcp_mesh/tracing/utils.py
  src/runtime/python/mesh/decorators.py
Due: none

Fix distributed tracing silent failures and implement comprehensive tracing architecture (#120)
  examples/simple/fastapi_app.py
  examples/simple/fastmcp_agent.py
  observability/grafana/dashboards/mcp-mesh-overview.json
  observability/grafana/grafana.ini
  src/runtime/python/_mcp_mesh/engine/dependency_injector.py
  src/runtime/python/_mcp_mesh/engine/http_wrapper.py
  src/runtime/python/_mcp_mesh/engine/unified_mcp_proxy.py
  src/runtime/python/_mcp_mesh/pipeline/api_startup/api_pipeline.py
  src/runtime/python/_mcp_mesh/pipeline/api_startup/middleware_integration.py
  src/runtime/python/_mcp_mesh/shared/fastapi_middleware_manager.py
  src/runtime/python/_mcp_mesh/tracing/agent_context_helper.py
  src/runtime/python/_mcp_mesh/tracing/context.py
  src/runtime/python/_mcp_mesh/tracing/execution_tracer.py
  src/runtime/python/_mcp_mesh/tracing/fastapi_tracing_middleware.py
  src/runtime/python/_mcp_mesh/tracing/redis_metadata_publisher.py
  src/runtime/python/_mcp_mesh/tracing/trace_context_helper.py
  src/runtime/python/_mcp_mesh/tracing/utils.py
  src/runtime/python/mesh/decorators.py
Due: none

Add native macOS build support to release pipeline
  .github/workflows/release.yml
Due: none

Fixes macOS build and Homebrew formula automation
  .github/workflows/release.yml
  .github/workflows/test-macos-build.yml
  install.sh
  packaging/scripts/build-binaries.sh
  src/core/cli/process_lifecycle.go
Due: none

Path conditions:
  validate-openapi-spec: any of: ^api/.*\.yaml$
  detect-unauthorized-endpoints: any of: ^(src/core/registry/.*\.(go|py)|api/.*\.yaml)$
  check-generated-code: any of: ^api/.*\.yaml$
  prevent-generated-code-modification: any of: ^src/core/registry/generated/.*$
  validate-go-contract: any of: ^src/core/registry/.*\.go$, but not: ^src/core/registry/generated/.*$
