Repository dhyansraj/mcp-mesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

Path conditions:
  validate-openapi-spec: any of: ^api/.*\.yaml$
  detect-unauthorized-endpoints: any of: ^(src/core/registry/.*\.(go|py)|api/.*\.yaml)$
  check-generated-code: any of: ^api/.*\.yaml$
  prevent-generated-code-modification: any of: ^src/core/registry/generated/.*$
  validate-go-contract: any of: ^src/core/registry/.*\.go$, but not: ^src/core/registry/generated/.*$

fix(sdk): Align parameter names between TypeScript and Python SDKs (#464) (#466)
  src/core/cli/man/content/decorators_typescript.md
  src/core/cli/man/content/dependency-injection_typescript.md
  src/core/cli/man/content/deployment.md
  src/core/cli/man/content/express.md
  src/core/cli/man/content/health_typescript.md
  src/core/cli/man/content/llm_typescript.md
  src/core/cli/man/content/proxies_typescript.md
  src/core/cli/man/content/quickstart_typescript.md
  src/core/cli/man/content/tags_typescript.md
  src/core/cli/man/content/testing_typescript.md
  src/core/cli/scaffold/compose.go
  src/core/registry/validation.go
  src/runtime/python/mesh/decorators.py
  src/runtime/python/tests/unit/test_01_decorator_detection_validation.py
  src/runtime/python/tests/unit/test_03_configuration.py
  src/runtime/python/tests/unit/test_04_heartbeat_preparation.py
  src/runtime/python/tests/unit/test_06_heartbeat_loop.py
  src/runtime/typescript/src/__tests__/config.test.ts
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/api-runtime.ts
  src/runtime/typescript/src/config.ts
  src/runtime/typescript/src/express.ts
  src/runtime/typescript/src/index.ts
  src/runtime/typescript/src/llm-provider.ts
  src/runtime/typescript/src/llm.ts
  src/runtime/typescript/src/types.ts
Due: detect-unauthorized-endpoints, validate-go-contract

fix(py-sdk): Use pure Python for auto port detection on all platforms
  src/runtime/python/mesh/decorators.py
Due: none

fix(py-sdk): Use pure Python for auto port detection on all platforms (#467) (#468)
  src/runtime/python/mesh/decorators.py
Due: none

build: Add Python 3.12 and 3.13 wheel builds for mcp-mesh-core (#456)
  .github/workflows/release.yml
  packaging/pypi/pyproject.toml
  src/runtime/core/pyproject.toml
Due: none

build: Add Python 3.12 and 3.13 wheel builds for mcp-mesh-core (#469)
  .github/workflows/release.yml
  packaging/pypi/pyproject.toml
  src/runtime/core/pyproject.toml
Due: none

feat(ts-sdk): Auto-serialize execute return values like Python SDK
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/types.ts
Due: none

feat(ts-sdk): Auto-serialize execute return values like Python SDK (#473)
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/types.ts
Due: none

fix(registry): Resolve dependencies by capability + tags + version, not just capability (#471)
  src/core/ent/dependencyresolution.go
  src/core/ent/dependencyresolution/dependencyresolution.go
  src/core/ent/dependencyresolution/where.go
  src/core/ent/dependencyresolution_create.go
  src/core/ent/dependencyresolution_update.go
  src/core/ent/migrate/schema.go
  src/core/ent/mutation.go
  src/core/ent/runtime.go
  src/core/ent/schema/dependencyresolution.go
  src/core/registry/dependency_resolution_test.go
  src/core/registry/ent_service.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix(registry): Support tag-level OR with +/- operators for dependency resolution (#471)
  api/mcp-mesh-registry.openapi.yaml
  or-tests/README.md
  or-tests/calculator-agent.py
  or-tests/py-math-agent.py
  or-tests/ts-math-agent.py
  src/core/cli/man/content/capabilities.md
  src/core/cli/man/content/capabilities_typescript.md
  src/core/cli/man/content/dependency-injection.md
  src/core/cli/man/content/dependency-injection_typescript.md
  src/core/cli/man/content/tags.md
  src/core/cli/man/content/tags_typescript.md
  src/core/registry/dependency_resolution_test.go
  src/core/registry/ent_handlers.go
  src/core/registry/ent_service.go
  src/runtime/core/src/registry.rs
  src/runtime/core/src/spec.rs
  src/runtime/core/typescript/index.js
  src/runtime/python/_mcp_mesh/pipeline/mcp_heartbeat/rust_heartbeat.py
  src/runtime/python/mesh/decorators.py
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/api-runtime.ts
  src/runtime/typescript/src/express.ts
  src/runtime/typescript/src/proxy.ts
  src/runtime/typescript/src/route.ts
  src/runtime/typescript/src/types.ts
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, validate-go-contract

refactor(registry): Remove resolution logic from DB path, use single source of truth (#471)
  ISSUE_471_IMPLEMENTATION_PLAN.org
  src/core/registry/api_service_heartbeat_test.go
  src/core/registry/dependency_calculation_test.go
  src/core/registry/ent_dependency_test.go
  src/core/registry/ent_service.go
Due: detect-unauthorized-endpoints, validate-go-contract

refactor(registry): Extract matching logic into Matcher component
  src/core/registry/ent_service.go
  src/core/registry/matcher.go
Due: detect-unauthorized-endpoints, validate-go-contract

refactor(registry): Extract resolution logic into resolver.go
  ISSUE_471_IMPLEMENTATION_PLAN.org
  src/core/registry/ent_service.go
  src/core/registry/resolver.go
Due: detect-unauthorized-endpoints, validate-go-contract

docs: Update org doc with Phase 11-13 completion status
  ISSUE_471_IMPLEMENTATION_PLAN.org
Due: none

fix(registry): Regenerate server code and fix tests for union type tags
  src/core/registry/comprehensive_json_test.go
  src/core/registry/dependency_resolution_test.go
  src/core/registry/generated/server.go
Due: detect-unauthorized-endpoints, prevent-generated-code-modification, validate-go-contract

fix(py-sdk): Strip trace arguments unconditionally to prevent validation errors
  src/runtime/python/mesh/decorators.py
Due: none

fix(ts-sdk): Serialize dependency tags to JSON for Rust FFI
  src/runtime/core/src/napi.rs
  src/runtime/core/typescript/index.d.ts
  src/runtime/typescript/src/agent.ts
  src/runtime/typescript/src/api-runtime.ts
  src/runtime/typescript/src/express.ts
Due: none

build: Add Rust core and TS SDK build targets, improve generate.sh
  Makefile
  tools/codegen/generate.sh
Due: none

test(uc01): Add TypeScript variants for heartbeat and auto-rewiring tests
  tests/integration/suites/uc01_registry/tc03a_heartbeat_system_ts/test.yaml
  tests/integration/suites/uc01_registry/tc05a_auto_rewiring_ts/test.yaml
Due: none

fix(cli): Use process groups for proper TypeScript agent shutdown
  .gitignore
  src/core/cli/start.go
  src/core/cli/stop.go
  tests/integration/suites/uc01_registry/tc03a_heartbeat_system_ts/test.yaml
  tests/lib-tests/suites/uc03_build_image/tc01_build_base/artifacts/Dockerfile
  tests/src-tests/suites/build/tc06_build_local_image/artifacts/Dockerfile
  tests/src-tests/suites/build/tc06_build_local_image/artifacts/tempo.yaml
Due: none

test(src-tests): Add build test suite for source compilation
  tests/src-tests/suites/build/tc00_build_environment/artifacts/Dockerfile
  tests/src-tests/suites/build/tc00_build_environment/test.yaml
  tests/src-tests/suites/build/tc01_build_meshctl/test.yaml
  tests/src-tests/suites/build/tc01a_build_registry/test.yaml
  tests/src-tests/suites/build/tc02_build_rust_core/test.yaml
  tests/src-tests/suites/build/tc02a_build_rust_core_nodejs/test.yaml
  tests/src-tests/suites/build/tc03_build_python_sdk/test.yaml
  tests/src-tests/suites/build/tc04_build_typescript_sdk/test.yaml
  tests/src-tests/suites/build/tc05_verify_artifacts/test.yaml
  tests/src-tests/suites/build/tc06_build_local_image/test.yaml
Due: none

test(uc01): Fix npm-install handler in tc05a_auto_rewiring_ts
  tests/integration/suites/uc01_registry/tc05a_auto_rewiring_ts/test.yaml
Due: none

chore: Update dependencies and fix formatting
  go.sum
  src/runtime/core/typescript/package-lock.json
  src/runtime/typescript/package-lock.json
  tests/integration/suites/uc03_capabilities/tc11_or_alternatives_fallback/artifacts/py-calculator-agent/main.py
Due: none

perf(registry): Replace O(n²) bubble sort with O(n log n) sort.Slice
  src/core/registry/resolver.go
Due: detect-unauthorized-endpoints, validate-go-contract

chore: Remove memories.json from git tracking
  .claude/memories.json
Due: none

fix(src-tests): Fix assertion mismatch in tc02_build_rust_core
  tests/src-tests/suites/build/tc02_build_rust_core/test.yaml
Due: none

fix(src-tests): Fix assertion mismatches in tc02a and tc03
  tests/src-tests/suites/build/tc02a_build_rust_core_nodejs/test.yaml
  tests/src-tests/suites/build/tc03_build_python_sdk/test.yaml
Due: none

fix(cli): Remove final IsProcessAlive check in stopProcess
  src/core/cli/stop.go
Due: none

ci: Pin code generation tool versions to prevent CI failures
  .github/workflows/contract-first-development.yml
Due: none

build: Update go.sum with oapi-codegen v2.5.1 dependencies
  go.sum
Due: none

feat(cli): Add folder name support to meshctl start with auto language detection
  src/core/cli/handlers/language.go
  src/core/cli/handlers/language_test.go
  src/core/cli/start.go
Due: none

test(integration): Add integration tests for folder name support
  .pre-commit-config.yaml
  tests/integration/suites/uc05_meshctl/artifacts/py-calculator-agent/main.py
  tests/integration/suites/uc05_meshctl/artifacts/py-math-agent/main.py
  tests/integration/suites/uc05_meshctl/artifacts/ts-calculator-agent/package.json
  tests/integration/suites/uc05_meshctl/artifacts/ts-calculator-agent/src/index.ts
  tests/integration/suites/uc05_meshctl/artifacts/ts-calculator-agent/tsconfig.json
  tests/integration/suites/uc05_meshctl/artifacts/ts-math-agent/package.json
  tests/integration/suites/uc05_meshctl/artifacts/ts-math-agent/src/index.ts
  tests/integration/suites/uc05_meshctl/artifacts/ts-math-agent/tsconfig.json
  tests/integration/suites/uc05_meshctl/tc08_start_folder_name/test.yaml
  tests/integration/suites/uc05_meshctl/tc09_start_folder_errors/test.yaml
Due: none

feat(cli): Add folder name support to meshctl start with auto language detection (#476)
  .pre-commit-config.yaml
  src/core/cli/handlers/language.go
  src/core/cli/handlers/language_test.go
  src/core/cli/start.go
  tests/integration/suites/uc05_meshctl/artifacts/py-calculator-agent/main.py
  tests/integration/suites/uc05_meshctl/artifacts/py-math-agent/main.py
  tests/integration/suites/uc05_meshctl/artifacts/ts-calculator-agent/package.json
  tests/integration/suites/uc05_meshctl/artifacts/ts-calculator-agent/src/index.ts
  tests/integration/suites/uc05_meshctl/artifacts/ts-calculator-agent/tsconfig.json
  tests/integration/suites/uc05_meshctl/artifacts/ts-math-agent/package.json
  tests/integration/suites/uc05_meshctl/artifacts/ts-math-agent/src/index.ts
  tests/integration/suites/uc05_meshctl/artifacts/ts-math-agent/tsconfig.json
  tests/integration/suites/uc05_meshctl/tc08_start_folder_name/test.yaml
  tests/integration/suites/uc05_meshctl/tc09_start_folder_errors/test.yaml
Due: none

fix(scaffold): Fix TypeScript agent Docker Compose startup failures
  src/core/cli/scaffold/compose.go
Due: none

test(integration): Add tc03_typescript_compose test for issue #470 fixes
  tests/integration/suites/uc01_scaffolding/tc03_typescript_compose/test.yaml
Due: none

fix(scaffold): Fix TypeScript agent Docker Compose startup failures (#477)
  src/core/cli/scaffold/compose.go
  tests/integration/suites/uc01_scaffolding/tc03_typescript_compose/test.yaml
Due: none

refactor(cli): Remove --skip-checks flag from meshctl start
  RELEASE_NOTES.md
  src/core/cli/start.go
Due: none

fix(api-heartbeat): Set agent_type='api' for Python FastAPI services
  src/runtime/python/_mcp_mesh/pipeline/api_heartbeat/rust_api_heartbeat.py
Due: none

fix(ts-sdk): Fix Express route introspection for Express 4.x
  src/runtime/typescript/src/api-runtime.ts
Due: none
