Repository dhyansraj/mcp-mesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

validate-openapi-spec:
  name: Validate OpenAPI Specification
  entry: python3 tools/validation/validate_schema.py api/mcp-mesh-registry.openapi.yaml
  language: system
  description: 🤖 Validates OpenAPI specification syntax and schema

detect-unauthorized-endpoints:
  name: Detect Unauthorized Endpoints
  entry: bash
  args:
  - -c
  - python3 tools/detection/detect_endpoints.py api/mcp-mesh-registry.openapi.yaml api/mcp-mesh-agent.openapi.yaml src/core/registry
  language: system
  description: 🤖 Ensures all endpoints exist in OpenAPI specification

check-generated-code:
  name: Check Generated Code Up to Date
  entry: bash
  args:
  - -c
  ...

prevent-generated-code-modification:
  name: Prevent Generated Code Modification
  entry: bash
  args:
  - -c
  ...

validate-go-contract:
  name: Validate Go Contract Compliance
  entry: bash
  args:
  - -c
  ...

feat: Move types.py to mesh package for single import experience
  src/runtime/python/mcp_mesh/__init__.py
  src/runtime/python/mcp_mesh/engine/signature_analyzer.py
  src/runtime/python/mesh/__init__.py
  src/runtime/python/mesh/types.py
  src/runtime/python/tests/unit/test_03_mcp_mesh_injection_basics.py
  src/runtime/python/tests/unit/test_04_mcp_mesh_injection_protocol.py
  src/runtime/python/tests/unit/test_05_mcp_mesh_injection_dynamic.py
  src/runtime/python/tests/unit/test_06_mcp_mesh_registration.py
  src/runtime/python/tests/unit/test_09_mcp_mesh_e2e.py
  src/runtime/python/tests/unit/test_13_real_remote_function_call.py
Due: none

docs: Update examples to use single import pattern
  examples/simple/dependent_agent.py
  examples/simple/fastmcp_agent.py
Due: none

refactor: Remove obsolete auto-run and FastMCP compatibility code
  src/runtime/python/mesh/__init__.py
  src/runtime/python/mesh/decorators.py
Due: none

fix: Separate HTTP server binding from advertisement hostname
  src/runtime/python/mcp_mesh/engine/decorator_registry.py
  src/runtime/python/mcp_mesh/pipeline/startup/fastapiserver_setup.py
  src/runtime/python/mcp_mesh/pipeline/startup/fastmcpserver_startup.py
  src/runtime/python/mcp_mesh/shared/config_resolver.py
  src/runtime/python/mesh/decorators.py
  src/runtime/python/test_debug_heartbeat_count.py
  src/runtime/python/tests/unit/test_02_mcp_mesh_decorators.py
  src/runtime/python/tests/unit/test_04_mcp_mesh_injection_protocol.py
  src/runtime/python/tests/unit/test_06_mcp_mesh_registration.py
  src/runtime/python/tests/unit/test_09_mcp_mesh_e2e.py
  src/runtime/python/tests/unit/test_11_mcp_mesh_create_server.py
  src/runtime/python/tests/unit/test_12_mcp_mesh_processor_agent_config.py
  src/runtime/python/tests/unit/test_config_resolver.py
Due: none

refactor: Python runtime cleanup and MCP compatibility analysis
  src/runtime/python/pyproject.toml
  src/runtime/python/tests/unit/test_15_mcp_client_proxy_supported.py
  src/runtime/python/tests/unit/test_16_mcp_client_proxy_unsupported.py
Due: none

fix: Update CI workflow for _mcp_mesh package structure
  .github/workflows/ci.yml
  packaging/pypi/pyproject.toml
Due: none

fix: Update ruff configuration to new format
  packaging/README.md
  src/runtime/python/pyproject.toml
Due: none

feat: Add Go tests to CI pipeline and complete Ent migration fixes
  .github/workflows/ci.yml
  go.mod
  go.sum
  src/core/registry/agents_endpoint_test.go
  src/core/registry/comprehensive_json_test.go
  src/core/registry/dependency_resolution_test.go
  src/core/registry/ent_service.go
  src/core/registry/heartbeat_test.go
  src/core/registry/minimal_http_test.go
  src/core/registry/simple_json_test.go
  src/core/registry/test_utils.go
  src/core/registry/testdata/agent_registration/mesh_agent_registration_complex.json
Due: detect-unauthorized-endpoints, validate-go-contract

fix: Eliminate duplicate dependency resolution logic and fix tag handling
  src/core/registry/ent_service.go
  src/core/registry/tag_resolution_fix_test.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix: Eliminate duplicate dependency resolution logic and fix tag handling inconsistency (Closes #49) (#50)
  src/core/registry/ent_service.go
  src/core/registry/tag_resolution_fix_test.go
Due: detect-unauthorized-endpoints, validate-go-contract

feat: Optimize CLI startup and FastAPI agent termination performance
  src/core/cli/config.go
  src/core/cli/process_lifecycle.go
  src/core/cli/process_platform.go
  src/core/cli/signal_handler.go
  src/core/cli/start.go
  src/core/cli/utils.go
Due: none

feat: Optimize CLI startup and FastAPI agent termination performance (Closes #51) (Closes #52) (#53)
  src/core/cli/config.go
  src/core/cli/process_lifecycle.go
  src/core/cli/process_platform.go
  src/core/cli/signal_handler.go
  src/core/cli/start.go
  src/core/cli/utils.go
Due: none

fix: Apply formatting fixes to ent_handlers.go and docker-compose.local.yml
  docker-compose.local.yml
  src/core/registry/ent_handlers.go
Due: detect-unauthorized-endpoints, validate-go-contract

feat: Add HEAD method support to health endpoints for efficient Docker/K8s health checks (Closes #54)
  api/mcp-mesh-registry.openapi.yaml
  docker-compose.local.yml
  docker/agent/Dockerfile.base
  src/core/registry/ent_handlers.go
  src/core/registry/generated/server.go
  src/runtime/python/_mcp_mesh/generated/mcp_mesh_registry_client/api/health_api.py
  src/runtime/python/_mcp_mesh/pipeline/startup/fastapiserver_setup.py
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

feat: Add HEAD method support to health endpoints for efficient Docker/K8s health checks (Closes #54) (#55)
  api/mcp-mesh-registry.openapi.yaml
  docker-compose.local.yml
  docker/agent/Dockerfile.base
  src/core/registry/ent_handlers.go
  src/core/registry/generated/server.go
  src/runtime/python/_mcp_mesh/generated/mcp_mesh_registry_client/api/health_api.py
  src/runtime/python/_mcp_mesh/pipeline/startup/fastapiserver_setup.py
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

feat: Fix Docker Compose startup concurrency and add resilient agent dependencies
  examples/docker-examples/docker-compose.yml
  examples/simple/fastmcp_standalone.py
  examples/simple/hello_world.py
  examples/simple/my_service.py
  examples/simple/system_agent.py
  src/core/registry/ent_service.go
Due: detect-unauthorized-endpoints, validate-go-contract

style: Apply Black formatting to example files
  examples/k8s/README.md
  examples/k8s/base/agents/agent-code-configmap.yaml
  examples/k8s/base/agents/dependent-agent-deployment.yaml
  examples/k8s/base/agents/fastmcp-agent-deployment.yaml
  examples/k8s/base/agents/system-agent-deployment.yaml
  examples/k8s/base/kustomization.yaml
  examples/k8s/base/registry/statefulset.yaml
  examples/simple/hello_world.py
  examples/simple/system_agent.py
Due: none

fix: Add missing MCP_MESH_AGENT_ID environment variable to enable self-dependency proxy
  examples/k8s/base/agents/dependent-agent-deployment.yaml
  examples/k8s/base/agents/fastmcp-agent-deployment.yaml
  examples/k8s/base/agents/hello-world-deployment.yaml
  examples/k8s/base/agents/system-agent-deployment.yaml
Due: none

docs: Add documentation for self-dependency proxy system
  examples/k8s/README.md
  examples/k8s/base/agents/dependent-agent-deployment.yaml
  examples/k8s/base/agents/fastmcp-agent-deployment.yaml
  examples/k8s/base/agents/hello-world-deployment.yaml
  examples/k8s/base/agents/system-agent-deployment.yaml
  src/runtime/python/_mcp_mesh/engine/decorator_registry.py
  src/runtime/python/_mcp_mesh/pipeline/heartbeat/dependency_resolution.py
Due: none

fix: Resolve agent ID mismatch causing self-dependency detection failures
  examples/k8s/README.md
  src/runtime/python/_mcp_mesh/engine/decorator_registry.py
  src/runtime/python/_mcp_mesh/pipeline/heartbeat/dependency_resolution.py
  src/runtime/python/mesh/decorators.py
  src/runtime/python/tests/unit/test_11_dependency_resolution.py
Due: none

fix: Address DecoratorRegistry gaps and environment variable consistency (Closes #60) (Closes #61) (Closes #62) (#63)
  examples/docker-examples/docker-compose.yml
  examples/k8s/README.md
  examples/k8s/base/agents/agent-code-configmap.yaml
  examples/k8s/base/agents/dependent-agent-deployment.yaml
  examples/k8s/base/agents/fastmcp-agent-deployment.yaml
  examples/k8s/base/agents/system-agent-deployment.yaml
  examples/k8s/base/kustomization.yaml
  examples/k8s/base/registry/statefulset.yaml
  examples/simple/fastmcp_standalone.py
  examples/simple/hello_world.py
  examples/simple/my_service.py
  examples/simple/system_agent.py
  src/core/registry/ent_service.go
  src/runtime/python/_mcp_mesh/engine/decorator_registry.py
  src/runtime/python/_mcp_mesh/pipeline/heartbeat/dependency_resolution.py
  src/runtime/python/mesh/decorators.py
  src/runtime/python/tests/unit/test_11_dependency_resolution.py
Due: detect-unauthorized-endpoints, validate-go-contract

feat: Complete MCP Mesh 0.2.x documentation with dual decorator pattern
  KUBERNETES_COMMANDS.md
  MCP_CLIENT_IMPLEMENTATION_PLAN.md
  MCP_MESH_ENV_VARS.md
  README.md
  docker-compose.local.yml
  docs/01-getting-started.md
  docs/01-getting-started/01-prerequisites.md
  docs/01-getting-started/02-installation.md
  docs/01-getting-started/03-hello-world.md
  docs/01-getting-started/04-dependency-injection.md
  docs/01-getting-started/05-first-agent.md
  docs/03-docker-deployment/02-compose-setup.md
  docs/03-docker-deployment/04-networking.md
  docs/04-kubernetes-basics/03-kubectl-deployment.md
  docs/04-kubernetes-basics/05-troubleshooting.md
  docs/06-helm-deployment/01-understanding-charts.md
  docs/06-helm-deployment/02-umbrella-chart.md
  docs/06-helm-deployment/04-multi-environment.md
  docs/06-helm-deployment/05-best-practices.md
  docs/architecture-and-design.md
  docs/environment-variables.md
  docs/mesh-decorators.md
  docs/meshctl-cli.md
  duplicates.md
  src_runtime_files_report.md
  src_runtime_python_files_by_name.md
  test_failures_analysis.md
  vanilla_fastmcp_example.py
Due: none

fix: Resolve all dependency version inconsistencies for 0.2.0 release
  README.md
  docker/docker-compose.yml
  examples/docker-examples/docker-compose.yml
  examples/k8s/base/agents/dependent-agent-deployment.yaml
  examples/k8s/base/agents/fastmcp-agent-deployment.yaml
  examples/k8s/base/agents/hello-world-deployment.yaml
  examples/k8s/base/agents/system-agent-deployment.yaml
  examples/k8s/base/registry/backup-cronjob.yaml
  examples/k8s/base/registry/statefulset.yaml
  helm/mcp-mesh-agent/Chart.yaml
  helm/mcp-mesh-agent/values.yaml
  install.sh
  k8s/base/registry/backup-cronjob.yaml
  k8s/base/registry/statefulset.yaml
  packaging/pypi/pyproject.toml
Due: none

feat: Improve README messaging for better user value proposition
  README.md
Due: none

feat: Improve README messaging for better user value proposition (#66)
  README.md
Due: none

fix: Correct Python packaging source paths in release workflow
  .github/workflows/release.yml
Due: none

hotfix: Fix Python packaging source paths in release workflow (#67)
  .github/workflows/release.yml
Due: none

hotfix: Fix version update paths in Python packaging workflow
  .github/workflows/release.yml
Due: none

hotfix: Fix version update paths - _mcp_mesh not mcp_mesh (#68)
  .github/workflows/release.yml
Due: none

chore: Bump version to 0.2.1 to avoid PyPI conflict
  README.md
  helm/mcp-mesh-agent/Chart.yaml
  packaging/pypi/pyproject.toml
  src/runtime/python/pyproject.toml
Due: none

chore: Bump version to 0.2.1 to avoid PyPI conflict (#69)
  README.md
  helm/mcp-mesh-agent/Chart.yaml
  packaging/pypi/pyproject.toml
  src/runtime/python/pyproject.toml
Due: none

cleanup: Remove GORM and plain SQL remnants after Ent migration
  src/core/database/models.go
  src/core/database/schema_clean.sql
  src/core/database/schema_redesign.sql
  src/core/database/schema_v2.sql
  src/core/registry/ent_service.go
Due: detect-unauthorized-endpoints, validate-go-contract

cleanup: Remove GORM and plain SQL remnants after Ent migration (Closes #70) (#71)
  src/core/database/models.go
  src/core/database/schema_clean.sql
  src/core/database/schema_redesign.sql
  src/core/database/schema_v2.sql
  src/core/registry/ent_service.go
Due: detect-unauthorized-endpoints, validate-go-contract

Path conditions:
  validate-openapi-spec: any of: ^api/.*\.yaml$
  detect-unauthorized-endpoints: any of: ^(src/core/registry/.*\.(go|py)|api/.*\.yaml)$
  check-generated-code: any of: ^api/.*\.yaml$
  prevent-generated-code-modification: any of: ^src/core/registry/generated/.*$
  validate-go-contract: any of: ^src/core/registry/.*\.go$, but not: ^src/core/registry/generated/.*$
