Repository dhyansraj/mcp-mesh: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

Path conditions:
  validate-openapi-spec: any of: ^api/.*\.yaml$
  detect-unauthorized-endpoints: any of: ^(src/core/registry/.*\.(go|py)|api/.*\.yaml)$
  check-generated-code: any of: ^api/.*\.yaml$
  prevent-generated-code-modification: any of: ^src/core/registry/generated/.*$
  validate-go-contract: any of: ^src/core/registry/.*\.go$, but not: ^src/core/registry/generated/.*$

feat(registry+ui): jobs page — read-only MeshJob observability
  api/mcp-mesh-registry.openapi.yaml
  src/core/ent/migrate/schema.go
  src/core/ent/schema/job.go
  src/core/registry/ent_handlers_jobs.go
  src/core/registry/ent_handlers_jobs_list_test.go
  src/core/registry/ent_handlers_test.go
  src/core/registry/ent_service_jobs.go
  src/core/registry/generated/server.go
  src/core/registry/types_clean.go
  src/core/ui/server.go
  src/ui/app/jobs/page.tsx
  src/ui/components/jobs/JobDetail.tsx
  src/ui/components/jobs/JobStatusBadge.tsx
  src/ui/components/jobs/JobTable.tsx
  src/ui/components/layout/Sidebar.tsx
  src/ui/lib/api.ts
  src/ui/lib/types.ts
  src/ui/src/App.tsx
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

fix(registry): release pinned jobs when owner becomes unhealthy + refresh embed dist
  cmd/mcp-mesh-ui/dist/index.html
  src/core/registry/ent_service_jobs.go
  src/core/registry/sweep_jobs_test.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix(jobs): cursor sub-second precision + commit missing useJobs hook
  src/core/registry/ent_service_jobs.go
  src/ui/lib/use-jobs.ts
Due: detect-unauthorized-endpoints, validate-go-contract

chore: apply CodeRabbit round-2 review fixes to PR #978
  src/core/registry/ent_handlers_jobs_list_test.go
  src/ui/app/jobs/page.tsx
  src/ui/components/jobs/JobTable.tsx
  src/ui/lib/use-jobs.ts
  src/ui/tsconfig.tsbuildinfo
Due: detect-unauthorized-endpoints, validate-go-contract

feat(registry+ui): jobs page — read-only MeshJob observability (#978)
  api/mcp-mesh-registry.openapi.yaml
  cmd/mcp-mesh-ui/dist/index.html
  src/core/ent/migrate/schema.go
  src/core/ent/schema/job.go
  src/core/registry/ent_handlers_jobs.go
  src/core/registry/ent_handlers_jobs_list_test.go
  src/core/registry/ent_handlers_test.go
  src/core/registry/ent_service_jobs.go
  src/core/registry/generated/server.go
  src/core/registry/sweep_jobs_test.go
  src/core/registry/types_clean.go
  src/core/ui/server.go
  src/ui/app/jobs/page.tsx
  src/ui/components/jobs/JobDetail.tsx
  src/ui/components/jobs/JobStatusBadge.tsx
  src/ui/components/jobs/JobTable.tsx
  src/ui/components/layout/Sidebar.tsx
  src/ui/lib/api.ts
  src/ui/lib/types.ts
  src/ui/lib/use-jobs.ts
  src/ui/src/App.tsx
  src/ui/tsconfig.tsbuildinfo
Due: validate-openapi-spec, detect-unauthorized-endpoints, check-generated-code, prevent-generated-code-modification, validate-go-contract

feat(ui): schema registry browser — providers + consumers per hash
  cmd/mcp-mesh-ui/dist/index.html
  src/core/registry/ent_service.go
  src/core/ui/schemas_handler.go
  src/core/ui/schemas_handler_test.go
  src/core/ui/server.go
  src/ui/app/schemas/[hash]/page.tsx
  src/ui/app/schemas/page.tsx
  src/ui/components/layout/Sidebar.tsx
  src/ui/lib/api.ts
  src/ui/lib/types.ts
  src/ui/lib/use-schema-usage.ts
  src/ui/lib/use-schemas.ts
  src/ui/src/App.tsx
  src/ui/tsconfig.tsbuildinfo
Due: detect-unauthorized-endpoints, validate-go-contract

fix(registry): persist capability.dependencies for schema browser consumer view
  cmd/mcp-mesh-ui/dist/index.html
  src/core/registry/dependency_persistence_test.go
  src/core/registry/ent_service.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix(ui): show agent_id suffix in schema providers/consumers tables
  src/ui/app/schemas/[hash]/page.tsx
  src/ui/tsconfig.tsbuildinfo
Due: none

fix(ui): filter schema providers/consumers to healthy agents only
  cmd/mcp-mesh-ui/dist/index.html
  src/core/ui/schemas_handler.go
  src/core/ui/schemas_handler_test.go
Due: none

chore(ui): rename Function → Tool in schema browser column headers
  cmd/mcp-mesh-ui/dist/index.html
  src/ui/app/schemas/[hash]/page.tsx
  src/ui/app/schemas/page.tsx
  src/ui/tsconfig.tsbuildinfo
Due: none

chore(ui): rename "Sample tool" column to "Tool" on schemas list
  src/ui/app/schemas/page.tsx
Due: none

chore(ui): deterministic sample_function + agent-name filter on /schemas
  cmd/mcp-mesh-ui/dist/index.html
  src/core/ui/schemas_handler.go
  src/core/ui/schemas_handler_test.go
  src/ui/lib/types.ts
  src/ui/lib/use-schemas.ts
  src/ui/tsconfig.tsbuildinfo
Due: none

feat(ui): schema registry browser — providers + consumers per hash (#979)
  cmd/mcp-mesh-ui/dist/index.html
  src/core/registry/dependency_persistence_test.go
  src/core/registry/ent_service.go
  src/core/ui/schemas_handler.go
  src/core/ui/schemas_handler_test.go
  src/core/ui/server.go
  src/ui/app/schemas/[hash]/page.tsx
  src/ui/app/schemas/page.tsx
  src/ui/components/layout/Sidebar.tsx
  src/ui/lib/api.ts
  src/ui/lib/types.ts
  src/ui/lib/use-schema-usage.ts
  src/ui/lib/use-schemas.ts
  src/ui/src/App.tsx
  src/ui/tsconfig.tsbuildinfo
Due: detect-unauthorized-endpoints, validate-go-contract

feat(ui): agents page grid view + /agents/:id detail route
  src/ui/app/agents/[id]/page.tsx
  src/ui/app/agents/page.tsx
  src/ui/app/schemas/[hash]/page.tsx
  src/ui/components/agents/AgentCard.tsx
  src/ui/components/agents/AgentGrid.tsx
  src/ui/lib/use-local-storage.ts
  src/ui/src/App.tsx
  src/ui/tsconfig.tsbuildinfo
Due: none

feat(ui): make Dashboard "Agent Overview" rows clickable
  cmd/mcp-mesh-ui/dist/index.html
  src/ui/app/page.tsx
  src/ui/tsconfig.tsbuildinfo
Due: none

chore(ui): apply CodeRabbit review fixes to PR #980
  cmd/mcp-mesh-ui/dist/index.html
  src/ui/app/agents/[id]/page.tsx
  src/ui/app/agents/page.tsx
  src/ui/tsconfig.tsbuildinfo
Due: none

feat(ui): agents page grid view + /agents/:id detail route (#980)
  cmd/mcp-mesh-ui/dist/index.html
  src/ui/app/agents/[id]/page.tsx
  src/ui/app/agents/page.tsx
  src/ui/app/page.tsx
  src/ui/app/schemas/[hash]/page.tsx
  src/ui/components/agents/AgentCard.tsx
  src/ui/components/agents/AgentGrid.tsx
  src/ui/lib/use-local-storage.ts
  src/ui/src/App.tsx
  src/ui/tsconfig.tsbuildinfo
Due: none

chore(ui): UI polish bundle (#965 #966 #967 #970 #974)
  src/ui/components/agents/AgentBadges.tsx
  src/ui/components/agents/AgentCard.tsx
  src/ui/components/agents/AgentDetail.tsx
  src/ui/components/agents/AgentTable.tsx
  src/ui/components/agents/AgentTraces.tsx
  src/ui/components/dashboard/EventFeed.tsx
  src/ui/components/topology/AgentNode.tsx
  src/ui/lib/api.ts
  src/ui/lib/types.ts
  src/ui/tsconfig.tsbuildinfo
Due: none

chore(ui): move AgentCard A2A/MeshJob badges to dedicated row
  cmd/mcp-mesh-ui/dist/index.html
  src/ui/components/agents/AgentCard.tsx
  src/ui/tsconfig.tsbuildinfo
Due: none

chore(ui): UI polish bundle (#965 #966 #967 #970 #974) (#983)
  cmd/mcp-mesh-ui/dist/index.html
  src/ui/components/agents/AgentBadges.tsx
  src/ui/components/agents/AgentCard.tsx
  src/ui/components/agents/AgentDetail.tsx
  src/ui/components/agents/AgentTable.tsx
  src/ui/components/agents/AgentTraces.tsx
  src/ui/components/dashboard/EventFeed.tsx
  src/ui/components/topology/AgentNode.tsx
  src/ui/lib/api.ts
  src/ui/lib/types.ts
  src/ui/tsconfig.tsbuildinfo
Due: none

fix(registry): derive agent trace activity from recent ring buffer
  src/core/registry/tracing/accumulator.go
  src/core/registry/tracing/accumulator_test.go
  src/core/registry/tracing/manager.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix(registry): derive agent trace activity from recent ring buffer (#985)
  src/core/registry/tracing/accumulator.go
  src/core/registry/tracing/accumulator_test.go
  src/core/registry/tracing/manager.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix: forward rotate events + enrich poller reason + a2a CLI label (#982 #984)
  src/core/cli/list.go
  src/core/cli/list_test.go
  src/core/ui/event_poller.go
  src/core/ui/events_handler_test.go
  src/core/ui/handlers.go
  src/ui/components/dashboard/EventFeed.tsx
  src/ui/lib/types.ts
  src/ui/tsconfig.tsbuildinfo
Due: none

fix: forward rotate events + poller reason enrichment + a2a CLI label (#982 #984) (#986)
  src/core/cli/list.go
  src/core/cli/list_test.go
  src/core/ui/event_poller.go
  src/core/ui/events_handler_test.go
  src/core/ui/handlers.go
  src/ui/components/dashboard/EventFeed.tsx
  src/ui/lib/types.ts
  src/ui/tsconfig.tsbuildinfo
Due: none

test(uc12): replace fixed waits with poll-until-healthy across 8 tests
  tests/integration/suites/uc12_registration_trust/tc01_tls_auto_python/test.yaml
  tests/integration/suites/uc12_registration_trust/tc02_tls_auto_typescript/test.yaml
  tests/integration/suites/uc12_registration_trust/tc05_multi_language_tls/test.yaml
  tests/integration/suites/uc12_registration_trust/tc12_vault_python/test.yaml
  tests/integration/suites/uc12_registration_trust/tc13_vault_typescript/test.yaml
  tests/integration/suites/uc12_registration_trust/tc14_vault_cross_agent/test.yaml
  tests/integration/suites/uc12_registration_trust/tc16_spire_python/test.yaml
  tests/integration/suites/uc12_registration_trust/tc19_entity_id_reassignment_rejected/test.yaml
Due: none

test(uc12): dump agent log on tc13_vault_typescript poll timeout
  tests/integration/suites/uc12_registration_trust/tc13_vault_typescript/test.yaml
Due: none

test(uc12): also dump registry log + trust dir on tc13 timeout
  tests/integration/suites/uc12_registration_trust/tc13_vault_typescript/test.yaml
Due: none

fix(registry): fail-fast on trust backend init failure (#989)
  cmd/mcp-mesh-registry/main.go
  src/core/registry/server.go
  src/core/registry/server_test.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix(registry/filestore): make fsnotify watcher non-fatal (#989)
  src/core/registry/trust/filestore.go
  src/core/registry/trust/filestore_test.go
Due: detect-unauthorized-endpoints, validate-go-contract

fix(ui): sort agents alphabetically by name on /agents page (#990)
  src/ui/app/agents/page.tsx
Due: none

fix(registry): cancel shutdown context on trust init failure (#989)
  src/core/registry/server.go
Due: detect-unauthorized-endpoints, validate-go-contract

test(uc12): poll-until-healthy across 8 registration-trust tests (#987) (#988)
  cmd/mcp-mesh-registry/main.go
  src/core/registry/server.go
  src/core/registry/server_test.go
  src/core/registry/trust/filestore.go
  src/core/registry/trust/filestore_test.go
  src/ui/app/agents/page.tsx
  tests/integration/suites/uc12_registration_trust/tc01_tls_auto_python/test.yaml
  tests/integration/suites/uc12_registration_trust/tc02_tls_auto_typescript/test.yaml
  tests/integration/suites/uc12_registration_trust/tc05_multi_language_tls/test.yaml
  tests/integration/suites/uc12_registration_trust/tc12_vault_python/test.yaml
  tests/integration/suites/uc12_registration_trust/tc13_vault_typescript/test.yaml
  tests/integration/suites/uc12_registration_trust/tc14_vault_cross_agent/test.yaml
  tests/integration/suites/uc12_registration_trust/tc16_spire_python/test.yaml
  tests/integration/suites/uc12_registration_trust/tc19_entity_id_reassignment_rejected/test.yaml
Due: detect-unauthorized-endpoints, validate-go-contract

Deployed 739e163a with MkDocs version: 1.6.1
  00-why-mcp-mesh/index.html
  02-local-development/index.html
  03-docker-deployment/04-networking/index.html
  03-docker-deployment/index.html
  04-kubernetes-basics/05-troubleshooting/index.html
  04-kubernetes-basics/index.html
  07-observability/index.html
  concepts/architecture/index.html
  deployment/index.html
  dev-to-production/index.html
  downloads/day-01-scaffold.zip
  downloads/day-02-dependency-injection.zip
  downloads/day-03-llm-provider.zip
  downloads/day-04-provider-tiers.zip
  downloads/day-05-http-gateway.zip
  downloads/day-06-chat-history.zip
  downloads/day-07-committee.zip
  downloads/day-08-docker-compose.zip
  downloads/day-09-kubernetes.zip
  downloads/day-10-whats-next.zip
  downloads/final-product.zip
  downloads/tutorial-complete.html
  downloads/tutorial-complete.txt
  index.html
  java/examples/index.html
  java/getting-started/index.html
  java/getting-started/prerequisites/index.html
  java/local-development/01-getting-started/index.html
  java/local-development/troubleshooting/index.html
  java/spring-boot-integration/index.html
  python/getting-started/prerequisites/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tutorial/day-08-docker-compose/index.html
  tutorial/day-09-kubernetes/index.html
  typescript/examples/index.html
  typescript/getting-started/prerequisites/index.html
Due: none

docs(quickstart): fix meshctl call syntax + scaffold example block (#998)
  src/core/cli/man/content/quickstart.md
Due: none

docs(quickstart): generalize 'edit hello() for real behavior' note (#998)
  src/core/cli/man/content/quickstart.md
Due: none

docs(quickstart): fix meshctl call syntax + scaffold example block (#1001)
  src/core/cli/man/content/quickstart.md
Due: none

refactor(scaffold): drop unimplemented llm generation engine (#999)
  src/core/cli/scaffold.go
  src/core/cli/scaffold/llm.go
  src/core/cli/scaffold/llm_test.go
  src/core/cli/scaffold/provider.go
  src/core/cli/scaffold/provider_test.go
  src/core/cli/scaffold_test.go
Due: none

docs: remove references to scaffold --list-modes (#999)
  docs/java/local-development/02-scaffold.md
  docs/meshctl-scaffold.md
  docs/python/local-development/02-scaffold.md
  docs/typescript/local-development/02-scaffold.md
Due: none
